[2014-06-27 01:05] pixelzoom opened #1 "replace explicit prototype assignment with inherit(Object,...)"
see phetsims/graphing-lines#13

[2014-11-25 23:05] #1 closed, assigned to nobody

[2015-02-12 03:03] jonathanolson opened #2 "Assorted lint issues"
Please run "grunt lint" and fix the listed problems.

[2015-02-12 05:00] bereaphysics commented on #2
Fixed here https://github.com/phetsims/plinko-probability/commit/e42fc4a7136b8b4f098f3b56b8a36c9d947d5d2b
closing

[2015-02-12 05:00] #2 closed

[2015-03-06 19:59] pixelzoom opened #3 "use PhetColorScheme.RED_COLORBLIND ?"
This sim uses 'red' in several places. Evaluate whether any of them should be PhetColorScheme.RED_COLORBLIND.

[2015-03-09 21:27] amanda-phet commented on #3
Yes I think this is a good place to use color-blind red, for sure. I will replace the current red in mockups to be sure it looks good overall, as well as view the mockups with color-blind filters.

[2015-03-10 20:05] pixelzoom opened #4 "change PLINKO to PLINKO_PROBABILITY"
Since the repo is named "plinko-probability", the requirejs token must be named "PLINKO_PROBABILITY".  If this convention is not followed, then things in the build process and rosetta will fail hard.

[2015-03-10 20:08] pixelzoom opened #5 "incorrect sim title key"
In package.json:

In plinko-probability-strings_en.json:

This will cause build tasks to fail, including README generation.

[2015-03-10 20:16] pixelzoom opened #6 "incorrect names for string files"
Related to #4. The string files are currently named "plinko-strings_<locale>.json".  Since the repo is named "plinko-probability", the string files must be named "plinko-probabiltiy-strings_<locale>.json". This violation of convention causes things in the build process (and eventually Rosetta) to fail.

[2015-03-10 20:21] pixelzoom commented on #5
You can change it in either package.json or plinko-probability-strings_en.json, but the keys need to match. Recommended to use plinko-probability.name, since that's most typical.

[2015-03-10 20:37] pixelzoom opened #7 "generate README.md"
When #4, #5 and #6 are resolved, please run `grunt generate-unpublished-README` to generate the README.md file (see phetsims/tasks#187).

[2015-03-10 22:33] bereaphysics commented on #6
The string file for the english version was renamed. I deleted the other versions since there has been significant changes to the simulation.

[2015-03-10 22:34] bereaphysics commented on #4
PLINKO was changed to PLINKO_PROBABILITY

[2015-03-10 22:34] #4 closed

[2015-03-10 22:35] bereaphysics commented on #6
Closing

[2015-03-10 22:35] #6 closed

[2015-03-10 22:37] bereaphysics commented on #5
The key was changed to plinko-probability.name in the string json file

[2015-03-10 22:38] #5 closed

[2015-03-10 22:40] bereaphysics commented on #7
After addressing #4, #5, #6 changes, the new README.md file was generated without a hiccup. thanks @pixelzoom .

[2015-03-10 22:40] #7 closed

[2015-05-05 21:30] bereaphysics commented on #3
Viewing the sim with the color blind filter there is no possible sources of confusion. Since there is no conflict with other colors we will stick with the original red.

[2015-05-05 21:30] #3 closed

[2015-05-11 21:02] pixelzoom opened #8 "plinko-probability fails lint"
As of 2d36bcd6300abec8009e972990abc3186a50c462 ...

[code]

[2015-05-13 21:11] bereaphysics commented on #8
Fixed. closing

[2015-05-13 21:11] #8 closed

[2015-07-21 19:51] samreid opened #9 "Add attributions for the image artwork"
We need to record where the images came from.

[2015-07-21 19:53] samreid commented on #9
@amanda-phet I noticed you helped with some of the other images in this simulation.  Can you comment on where this

![image](https://cloud.githubusercontent.com/assets/679486/8810957/d13a1014-2faf-11e5-883a-b5a167328335.png)

and this

![image](https://cloud.githubusercontent.com/assets/679486/8810960/d5e8f6b6-2faf-11e5-95ad-1d296bdee304.png)

came from?  Did we draw them?

[2015-07-21 19:54] amanda-phet commented on #9
I drew them.

[2015-07-21 19:57] samreid commented on #9
Perfect, thanks!  I added the attributions in the above commit, closing.

[2015-07-21 19:57] #9 closed

[2015-08-12 00:15] pixelzoom opened #10 "unused images"
[code]

[2016-01-11 19:22] pixelzoom opened #11 "unused strings"
This sim hasn't been published yet, so perhaps some of these strings are related to features that have yet to be implemented.

[code]

[2016-05-18 06:41] ariel-phet opened #12 "Plinko Probability master checklist"
## Design
- [x] **Design doc created** (Date: 06/23/2014)
 - [x] Make phethelp@gmail.com owner, share with phet-team
 - [x] Add to [Master Doc List](https://docs.google.com/document/d/1yjT1oE95JG_evwob9LB_De-brD7JpfFM6iIL6pF812k/edit#)
- [x] **Legacy sim docs/info gathered**
- [x] **Learning goals and standards identified** (Date: 07/07/2014)
- [x] **Design concept complete**  (Date: 07/09/2014)
-

[2016-05-19 17:09] ariel-phet opened #13 "Improved sound for balls hitting pegs"
We would like to make a much more pleasant sound for the balls in plinko hitting the pegs.

@jbphet is our sound expert. I think something that a gentle bounce would be good, it can be fairly subtle since when many balls are falling if not subtle it will be overwhelming.

[2016-05-20 12:30] veillette opened #14 "plinko-probability list of needed features and bugs to be fixed."
This issue will track the list of features needed in the sim (05/20/16) to match the design document (DD).

 For the purpose of the list, IT refers to Intro tab and LT refers to the Lab tab and CT is common for both tabs

- [x] LT - create an Dialog box when the number of balls exceed a constant.
- [x] LT - eraser, count and fraction buttons  should match in size and position the DD
- [x] CT- crea

[2016-05-20 12:43] memo330179 commented on #14
- [ ] LT - PLay button needs to always be in play position if the option is 'oneBall'
- [ ] IT - Path option only adds to one bal unless it is paused and restarted. Continues to add to the bin even after paused.
- [ ] LT - 'None' option does not work for only one ball
- [ ] IT - Eraser and reset button do not pause the simulation, it erases the balls currently in the sim and sends the remaining ba

[2016-05-20 12:53] Denz1994 commented on #14
- [ ] IT - Cylinder heights and colors need to be adjusted
- [ ] CT - Simulation stops running if active tab in browser is changed. Simulation continues only after it  becomes the active tab in the browser.

[2016-05-20 13:26] memo330179 commented on #14
- [ ] With the ball size change the ball no longer touches the top of the peg. We will need to change the distance that it travels

[2016-05-20 14:40] veillette commented on #11
The unused strings have been remove. The unused images are tracked in a separate issue (see #10).  Closing

[2016-05-20 14:40] #11 closed

[2016-05-23 18:45] phet-steele opened #15 "Massive "number" histogram while switching between displays"
The "number" histogram display option auto-scales the y-axis to a max of 20 while it is used. However, switching to another option and back loses this auto-scaling, resulting in a massive graph filling the screen (when many balls have been dropped). @veillette this is a bug present in the Flash version (called the "legacy" version) that was tested on Win 10 browsers.

Before switching:
![smallnumb

[2016-05-24 22:02] jbphet commented on #13
I've sent @veillette two sets of sounds with two sounds in each set.  My thinking is that having two different pitches of similar sounds would be somewhat realistic, and less repetitious than having the same sound play over and over.  One set uses a softer, marimba like sound and the other uses more of a click.

I'll assign to @veillette and he can report here whether these sounds will work or if

[2016-05-25 21:41] amanda-phet commented on #13
Should we use one sound when the ball falls to the left, and one for when it falls to the right?

[2016-05-25 21:46] amanda-phet commented on #15
Just to be clear, the bug present here is not that the bars go off scale when "number" is selected (
I recall @dubson sharing that the bars going off the chart is a feature of this sim, not a bug.), but that when "number" is selected, it seems to be auto-scaling when it shouldn't.

[2016-05-26 12:11] veillette commented on #13
@Denz1994 has been implementing such a scheme for the sound (left one for a marimba and right for the other marimba sound) . It works very well when there is only one peg falling through the Galton board. The sound gets a bit overwhelming when there are many balls on the board.

[2016-06-01 12:43] veillette opened #16 "Translation of the statisticalPanel"
![image](https://cloud.githubusercontent.com/assets/7633344/15709718/3765af84-27d4-11e6-87c8-e6f674c7a6f2.png)

One issue is to find out how much of the statistics panel should be translatable.
Right now, x bar, mu and sigma are hardwired. The "s" in s_mean is hardwired
but 'mean' is translatable. 's' and 'n' are currently translatable.

[code]

[2016-06-01 14:48] ariel-phet commented on #16
@veillette all of those should be translatable. You will probably need to apply a rule whereby if the strings grow too large they scale down related to a max width of the panel. My guess is many translators will leave them as is, but we do want to allow the flexibility.

[2016-06-01 17:17] alynne-phet opened #17 "Infinite number of balls on the intro screen"
Steps to reproduce:
1. Go to intro screen
2. Select the xAll option
3. Press the play button and quickly press the reset all button
4. The balls will not stop, and will drop more than 100
5. Steps 2 and 3 can be repeated endlessly for a never ending number of balls

![image](https://cloud.githubusercontent.com/assets/19288972/15718568/487d3386-27e9-11e6-85b8-7eccee28c046.png)

This can also be don

[2016-06-01 17:42] memo330179 commented on #17
This was addressed shortly after the dev deployment. Commit 91eaef3b4ae33211b0016fee15985da4466e61ef fixes the issue.

[2016-06-01 17:43] memo330179 commented on #17
Assigning @veillette  for review.

[2016-06-02 14:21] veillette commented on #10
all the unused images have been removed.

[2016-06-02 14:21] #10 closed

[2016-06-02 14:29] veillette commented on #17
This commit should fix it. I'm assigning it back to @alynne-phet (to be checked once we redeploy a new dev)

[2016-06-02 14:30] Denz1994 commented on #16
The text in the statistics box is now translatable. Logic was also added to all of the text to scale the font size if a translation becomes lengthy.

[2016-06-02 16:10] phet-steele opened #18 "Peg rotated too far at min/max binary probability"
@amanda-phet @veillette I couldn't find anywhere in the design doc that explicitly states this, but in the Flash version of the sim, the flat part of a peg at min/max binary probability is only rotated ~45 degrees:
![screen shot 2016-06-02 at 10 08 48 am](https://cloud.githubusercontent.com/assets/5863899/15752163/073af46e-28aa-11e6-9015-0d0bea90b14c.png)
The new sim rotates twice that to ~90 degr

[2016-06-02 16:43] phet-steele opened #19 "User can't easily add more balls after max count of 9999"
@amanda-phet @veillette  In the Lab screen, after reaching the max bin count of 9999, a user should be able to add more balls after changing the number of rows or the value of binary probability. Changing either of those variables returns N to 0 in the same way the Erase button or Reset All button would, except hitting play will only prompt the "Out of Balls" dialogue. Seen on numerous platforms.

[2016-06-02 17:14] phet-steele opened #20 "Communicating max number of balls being reached, and how to handle further interactions"
@amanda-phet on the Intro screen, when reaching the max N=100, shouldn't either the Play button be disabled, or pressing it again return N to 0 and drop more balls? I'd prefer the latter. To me this screen has a "trial" vibe to it, where a student will drop consecutive amounts of 100 balls to compare distributions. To currently do that, the student would either have to press the Eraser or Reset Al

[2016-06-02 18:56] memo330179 commented on #19
That should fix it. Assigning to @veillette for review.

[2016-06-02 19:10] veillette commented on #20
I can see @phet-steele point that it is very unlikely for someone to see the out-of-ball dialog in the "lab" screen but it is very likely to show up on the "intro" screen.

For your information, it would be easy to implement an approach that is different on the "Intro" screen and "Lab" screen. In addition, the Play and Pause button are custom buttons  (it is not the scenery-phet PlayPauseButton).

[2016-06-02 19:22] veillette commented on #18
![image](https://cloud.githubusercontent.com/assets/7633344/15757844/9196853a-28d5-11e6-8295-9e39e5b9371b.png)

We can change it to something along the previous image if you prefer.

[2016-06-02 19:51] veillette commented on #18
here is the commit https://github.com/phetsims/plinko-probability/commit/d9aca1ccf5f52a254b49110b918ec0743bd51a31

[2016-06-02 20:39] phet-steele commented on #14
Saying the sim "stops running" here is not completely accurate. The balls currently on the board freeze in place and the hopper does not release any more balls, sure, but balls are still being created. Once the sim is returned to, all balls that were "created" are released at once. @veillette this causes lots of problems, including a large drop in performance.
Furthermore, this is not limited to b

[2016-06-02 22:48] veillette commented on #14
Let's close this issue and open an issue where we keep track of the siisue regarding large DeltaTime interval

[2016-06-02 22:52] veillette opened #21 "dev1.0.0-3 does not handle large dt,"
- Simulation stops running if active tab in browser is changed. Simulation continues only after it becomes the active tab in the browser.
Saying the sim "stops running" here is not completely accurate. The balls currently on the board freeze in place and the hopper does not release any more balls, sure, but balls are still being created. Once the sim is returned to, all balls that were "created" a

[2016-06-02 22:57] veillette commented on #21
The problems lies in our use of Timer.setInterval().  If one sets the sim in continuous mode, it keeps pumping "model Ball" into the simulation, even if one changes tab.  We need to use Timer.clearInterval()  if the time step is larger than a given interval (say one second).

[2016-06-03 11:46] #14 closed

[2016-06-03 13:00] Denz1994 commented on #16
Test of elongated text, replicated by using "stringTest=double" in url.

![image](https://cloud.githubusercontent.com/assets/13894380/15778877/077f536c-2967-11e6-81d2-0e68159ae646.png)

This logic is followed  in the slider control panel as well for consistency.

![image](https://cloud.githubusercontent.com/assets/13894380/15779109/6d46d4ee-2968-11e6-9dcd-aa51dff6e3e7.png)

![image](https://cloud.

[2016-06-03 18:30] veillette commented on #16
This will be deployed in the next dev version (1.0.0dev4).Closing

[2016-06-03 18:30] #16 closed

[2016-06-03 19:34] veillette opened #22 "Internal check list in preparation of code review"
Prior to doing a code review for this sim we should make sure we tick all the check boxes

PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim pass lint?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query pa

[2016-06-03 20:28] memo330179 commented on #21
I have moved the lab model ball creation to the step function. If we change tabs we assume that the step function is not called and no new balls are created. The simulation now 'pauses' when the tab is switched.

[2016-06-06 13:04] veillette opened #23 "The Navigation icons are white rectangles"
For the deployment of plinko-probability, we will need some artwork, namely two icons, one for the intro tab and the other for the lab tab. Currently they are white rectangles.

[2016-06-06 18:42] veillette commented on #21
We will leave this open and let the quality assurance team close this ticket once we issue a new dev version

[2016-06-07 16:50] phet-steele opened #24 "Automated Testing Sim Error (6/7/2016 10:00 AM)"
@Denz1994 I believe this commit https://github.com/phetsims/plinko-probability/commit/dcdfd2f19f7a1af96a55c798148d11fd972bcfc1 is throwing the following error. The sim will no longer load if the images used are the incorrect aspect ratio:

[code]

[2016-06-07 20:30] Denz1994 commented on #24
I used some images as place holders for the icons in the nav-bar and homescreen, which is what caused the error. The actual icons to be used are detailed by issue #23 and at this time have yet to be decided on.

They have been reverted back to white boxes to satisfy the assertion error 1559ddbb1d9ffa0092eb63863620116ac228bdfa .

[2016-06-07 22:22] phet-steele commented on #24
Thank you, @Denz1994.

[2016-06-07 22:22] #24 closed

[2016-06-22 21:45] amanda-phet commented on #20
In a 6/22 meeting we decided to make the play button disabled until the user clicks erase or reset all.

I will interview on this sim 6/29 and 7/7 so we will get a chance to see how students interpret this!

[2016-06-23 12:51] memo330179 commented on #20
There are two possibilities of when the play button should be disabled. One is when the ball counter has reached 100 balls, and the other is when the user has queued 100 balls to drop.
![playbutton2](https://cloud.githubusercontent.com/assets/11654721/16303631/a81e644e-391f-11e6-90b9-784424a71cca.gif)
![playbutton](https://cloud.githubusercontent.com/assets/11654721/16303635/ab75fd32-391f-11e6-8b7

[2016-06-23 12:52] memo330179 commented on #20
![playbutton2](https://cloud.githubusercontent.com/assets/11654721/16303631/a81e644e-391f-11e6-90b9-784424a71cca.gif)
![playbutton](https://cloud.githubusercontent.com/assets/11654721/16303635/ab75fd32-391f-11e6-8b76-54501ea43490.gif)

[2016-06-27 16:11] veillette commented on #21
assigning to @alynne-phet for review

[2016-06-27 16:11] veillette commented on #19
assigning to @alynne-phet for review

[2016-06-27 16:42] alynne-phet commented on #21
@veillette Verified. No longer "pauses" when the tab is switched.

[2016-06-27 17:33] alynne-phet commented on #19
@veillette The simulation does not stop at the max bin count of 9999. Has this been changed so there is no max bin count? I have been able to add over 9999 balls. Also, when using the query parameter 'lowerBallMaximum,' 100 balls fell before reaching the max bin count. Would you like me to create a new issue for this?

[2016-06-27 18:22] alynne-phet commented on #17
@veillette Verified.

[2016-06-27 18:49] veillette commented on #19
@alynne-phet

One clarification: For the second tab, the number of balls can exceed 9999. However you should not be able to get the number of balls per bins to exceed 9999. When it is about to exceed this number, a dialog box should appear.

It takes a lot of time to reach that number,but the query parameter lowerBallMaximum  makes it more amenable to testing.

On the first screen the max number r

[2016-06-27 18:52] alynne-phet commented on #19
@veillette This makes much more sense. This issue has been fixed!

[2016-06-27 19:02] veillette commented on #19
Thanks. Closing this issue.

[2016-06-27 19:02] #19 closed

[2016-06-29 02:29] ariel-phet opened #25 "Code Review"
PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim pass lint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')

**Strings**
- [x] Are there

[2016-06-29 14:13] veillette commented on #17
Thanks. closing

[2016-06-29 14:13] #17 closed

[2016-06-29 14:16] veillette commented on #13
We showcased the sounds of the marimba at the status meeting. We have limited the number of sounds that gets played. It works well.Closing

[2016-06-29 14:16] #13 closed

[2016-06-29 14:18] veillette commented on #15
Thanks @phet-steele for the info. We have reviewed the flash simulation pretty extensively

[2016-06-29 14:18] #15 closed

[2016-06-29 20:12] brroberts1231 opened #26 "iPad 2 performance drop with play button"
For phetsims/tasks#630
Test device: Tycho

Operating System: iOS 9.3.3

Browser: Safari

Problem description: Sim slows down substantially for a moment when you press the play button. This can be seen most easily by repeatedly pressing the play button to drop individual balls quickly.

Screenshots:
https://drive.google.com/file/d/0B9-NgawDrEu3STBnSTJ1T0ZURGs/view?usp=sharing

Troubleshooting infor

[2016-06-30 15:45] phet-steele commented on #18
@veillette this looks good.

[2016-06-30 15:45] #18 closed

[2016-06-30 16:15] phet-steele opened #27 ""Out of Balls" before max count"
On the Lab screen, when "Ball" view is being run and is then switched to "Path" or "None", the effective max count for a bin is lowered by an amount equal to the number of balls "left behind" on the board when switching views. In this video, there were 47 balls on the board before "None" was selected (hence 9999-47 = 9952).

![pp02](https://cloud.githubusercontent.com/assets/5863899/16495516/135b9

[2016-06-30 17:09] amanda-phet commented on #23
Emailed icons to @veillette 6/29/16.

[2016-06-30 17:10] amanda-phet commented on #20
@memo330179 That sounds good to me.

[2016-06-30 21:28] jessegreenberg opened #28 "Fuzz testing error: pegShadowImage undefined"
Found while working on #25.  When running a fuzz test, it is possible to call on the image width before it has been loaded.  The following line is meant to catch this:

[code]

but the images are ```undefined``` at this point, not ```null```.  Would something like
[code]
be a sufficient fix?

[2016-06-30 21:59] jessegreenberg opened #29 "Long string issues"
For stringTest=long, there is some text that extends into other elements on screen.

For the radio button text in the lab screen, I can imagine that text could reach the control panel:
![string2](https://cloud.githubusercontent.com/assets/6396244/16505665/4593df9a-3edb-11e6-9a9f-d7a5975ae126.PNG)

For the intro screen, it does seem unlikely that the strings would get long enough to hit the board,

[2016-06-30 22:09] jessegreenberg opened #30 "missing assets directory"
The assets directory is missing for this sim. assets should contain the original files used to create images, audio, etc. For example, the file used to create images/container.png should be in assets/.

[2016-06-30 22:31] jessegreenberg opened #31 "vibe missing from package.json"
In order for dependencies to match in package.json and plinko-probability-config.js, vibe needs to be added in package.json.

Please see john-travoltage/package.json for an example.

[2016-06-30 22:35] jessegreenberg opened #32 "Complete sim credits"
This issue is just to serve as a reminder to complete sim credits before publication.

[2016-06-30 22:39] jessegreenberg opened #33 "branch: bouncyEndAnimation"
Now that the sim is getting ready for publication, can the bouncyEndAnimation branch be pruned?  If it needs to be kept, please create an issue tittled "branch: bouncyEndAnimation" and describe its purpose.

[2016-07-01 02:28] veillette commented on #28
Try the suggestion of @jessegreenberg. Make sure to run a fuzz test with enabled assertions to check it. Also we use this approach in the BallsLayerNode, so this would need to be changed as well.

[2016-07-01 02:32] veillette commented on #27
@memo330179, try to address this issue although if the fix is too complicated you can punt it as it is somewhat of an edge case.

[2016-07-01 12:21] memo330179 commented on #33
Removed the bouncyEndAnimation branch. Only the master branch exists now.

[2016-07-01 12:57] memo330179 commented on #27
Should be solved assigning to @veillette for review.

[2016-07-01 17:33] veillette commented on #33
FYI, @memo330179 deleted the branch through github, without making a commit.  So we don't have a commit to show for it. Assigning to @jessegreenberg for review

[2016-07-01 17:36] veillette commented on #31
@Denz1994 added vibe to package.json. Assigning back to @jessegreenberg for review.

[2016-07-01 17:40] veillette commented on #22
Let's close this internal issue since we are currently going under code review

[2016-07-01 17:40] #22 closed

[2016-07-01 17:43] veillette commented on #20
We will leave it open as we may get feedback from the student's interview.

[2016-07-01 17:54] phet-steele opened #34 "Exceeding max bin count"
@veillette not sure if this is a result from the fix for #27 or not, but it's possible for me to go one ball over the max bin count by doing this:

(These steps are reversible)
1. On the Lab screen, keep the ball dropping method to "single"
2. Click play enough times to get just one away from the max (24 or 9998)
3. If you were using the "Ball" option, switch to "None". If you were using the "None

[2016-07-01 17:55] Denz1994 commented on #28
We were able to test your approach @jessegreenberg and changing this line works. The self.pegImage and self.pegShadowImage were in fact undefined not "null" as expected. However, because we still may have a case where the pegs were not loaded when they were called on we, made sure that they were loaded by adding a delay of 10 milliseconds, when we are painting the canvas. This is not noticeable fo

[2016-07-01 18:02] Denz1994 commented on #29
I limited the maxWidth of the text nodes in the panels and now they scale the text size, with respect to an elongated text. The vertical radio button text no longer overlaps with the play button panel as well. Assigning to @jessegreenberg for review.

[2016-07-01 18:36] jessegreenberg commented on #33
Great, thanks!  @memo330179 I love your avatar pic.

[2016-07-01 18:37] jessegreenberg commented on #31
Great, thanks!  Closing.

[2016-07-01 18:37] #31 closed

[2016-07-01 18:40] jessegreenberg commented on #29
Great, thanks @Denz1994.  Closing.

[2016-07-01 18:40] #29 closed

[2016-07-01 18:55] memo330179 commented on #34
We are now only removing the balls that have not landed or exited the peg board. This takes care of #27 as well.

[2016-07-01 18:57] Denz1994 commented on #23
Added the icons provided by @amanda-phet to the homescreen and nav-bar. Thank you @amanda-phet for sending these. They look great!

[2016-07-01 18:57] memo330179 commented on #34
assigning to @phet-steele for review. You can test this out on master.

[2016-07-01 19:32] phet-steele commented on #27
@veillette this should be fixed, you can close after your review.

[2016-07-01 19:33] phet-steele commented on #34
@memo330179 looks good to me, thanks

[2016-07-01 19:33] #34 closed

[2016-07-01 20:21] jessegreenberg commented on #28
Thanks @Denz1994, looks good.  But I am not sure that the timeout work around is robust enough.  For instance, if an image fails to load or a maintainer incorrectly renames an image variable name, it will produce an infinite loop.  Also, if invalidatePaint is called twice in the same animation frame, scenery will fire an assertion since it is indicative of an infinite loop.  In 10ms there is no gu

[2016-07-01 20:31] jessegreenberg opened #35 "Update ballStep documentation"
JSDoc documentation for 'ballStep' is only partially correct, and is actually the documentation for updatePosition.  In addition to updating the position, the ballStep function also updates peg information and emits events.  Since this is such an important function for this sim, so would you mind describing what full purpose in the JSDoc?

[2016-07-01 20:42] jessegreenberg opened #36 "Why create BinInterface and PegInterface"
Why were BinInterface and PegInterface abstracted into separate types?  These functions aren't really general utility functions and it seems like they could be added directly to the prototypes of  Histogram and GaltonBoard.  If added to prototypes, would it simplify code at call sites?  For instance,

[code]
it seems strange to get the centerX from a static function instead of from a particular mo

[2016-07-01 20:47] jessegreenberg opened #37 "Assertions in BinInterface don't match documentation"
In functions in BinInterface, there is a comment that says

But the assertions in the functions goes to numberOfBins (not numberOfBins-1)
[code]
Is the assertion incorrect or should the documentation be changed?

[2016-07-01 20:50] jessegreenberg opened #38 "Describe IntroBall and LabBall in documentation"
It is necessary to look at the code to understand what features are added to IntroBall and LabBall beyond the common Ball.js model element.  Please add some documentation to the top of IntroBall and LabBall to describe what is unique to these new model types.

[2016-07-01 20:56] jessegreenberg opened #39 "Add custom query parameters to file"
PhET has begun to document custom query parameters in a separate file so that they are documented and easy to find.  Would you mind doing this for the 'lowerBallMaximum' parameter?  Please see AreaBuilderQueryParameters for an example.

[2016-07-01 21:03] jessegreenberg opened #40 "Investigate possible memory leak"
In PlinkoProbabilityIntroModel, PlinkoProbabilityIntroModel, and PlinkoProbabilityLabView, anonymous functions are added to balls as they are created.  For example

[code]
These listeners are never removed with the balls so is this a potential memory leak?

[2016-07-01 21:10] jessegreenberg opened #41 "Create a common ScreenView element"
PlinkoProbabilityCommonModel collects common elements between Intro and Lab models.  Can the same thing be done for PlinkoProbabilityLabView and PlinkoProbabilityIntroView?  There seems to be a fair amount of common code between the two screen views, and it might reduce code duplication.

[2016-07-01 21:13] veillette commented on #36
@Denz1994:

The function in PegInterface should be added to the prototype of  GaltonBoard.  The pegInterface was used in Balls, BallsLayerNode and the GaltonBoardCanvasNode.

The GaltonBoardCanvasNode depends on the GaltonBoard, so you will have access to all the methods. The Ball Constructor can take the galtonBoard as parameter. The BallsLayerNode only need the spacing between two pegs, which is

[2016-07-01 21:16] jessegreenberg opened #42 "Consider using NumberControl instead of SliderWithReadout"
SliderWithReadout is quite similar to a new scenery-phet element called NumberControl.  Could the common code element replace SliderWithReadout?  If not, perhaps we could determine what options need to be added to NumberControl so that it could be used in plinko-probability.

[2016-07-01 21:19] veillette commented on #41
@memo330179 : I think you had proposed a similar idea.
The hopper and the board, with the GaltonBoardCanvasNode should belong in the CommonModel.
The HistogramNode can be added there as well.

Currently, the eraser and reset all have different listeners but We should try to find a way to merge them so that we can avoid code duplication.

Most of the layout should be done the common code.

Assignin

[2016-07-01 21:23] veillette commented on #35
@memo330179 did most of the work on the position and the ballStep. I'm assigning it to you.

[2016-07-01 21:28] veillette commented on #23
@amanda-phet is unlikely to have an easy way to check this from master. We will reissue a dev candidate soon in any case. So closing.

[2016-07-01 21:28] #23 closed

[2016-07-01 21:35] veillette commented on #39
I'm assigning this one to you @Denz1994 . Our query parameter was somewhat of a hack (although it was useful for the QA team). A better query parameter might be ?launchedBalls=###, which would prepopulate the histogram with that many balls. That could be useful on the second screen.

[2016-07-01 21:38] jessegreenberg commented on #40
I did some heap profiling, and found the following with Windows 10 Chrome, fuzzMouse=100:

**Time (min)** - **HeapSize( MB )**
0 - 16.8
5 - 18.3
10 - 18.4
15 - 18.4
20 - 18.5
25 - 18.6
30 - 18.6
35 - 18.6
40 - 18.7
45 - 18.6

So there doesn't seem to be much of a leak.

[2016-07-01 21:41] veillette commented on #40
This is what addBallToHistogram does,
[code]
because it only need a reference to the ball.binIndex, it should not create a memory leak.

Correct me if i'm wrong

[2016-07-01 21:45] veillette commented on #37
The jsDOc is correct, the assertions is wrong. It is also good practice to put a comment in the assertion.  Assigning to @Denz1994.

[2016-07-01 21:47] veillette commented on #42
I'll take care of this one.

[2016-07-01 21:49] veillette commented on #38
@memo330179 you were responsible for this division so I'm assigning this to you.

[2016-07-01 21:50] veillette commented on #36
Good point @jessegreenberg . It is wholly unnecessary to have these interfaces.

Assigning to @Denz1994

[2016-07-01 22:01] jessegreenberg opened #43 "Remove copy-paste documentation"
In IntroPlayPanel and BallRadioButtonsControl, it looks like the documentation for options was copied and pasted from somewhere else, can these lines be removed?

[2016-07-01 22:12] jessegreenberg opened #44 "String pattern in SliderWithReadout"
In SliderWithReadout, a string pattern is used to format a value with a unit, but the default pattern is '{0}', so the unit is never added.  Is the string pattern still necessary or can it be removed?
[code]

If it is still necessary, please move the string pattern to plinko-probability-strings_en.json.  In options, it is not possible to switch the order of value and unit for right to left languag

[2016-07-01 22:16] jessegreenberg opened #45 "Options pattern in SliderWithReadout"
In SliderWithReadout, slider options are created as ```options.slider = _.extend(...```
Is this intentional? This is creating a new object under options called slider.  Would it be better to create a new variable called sliderOptions?

[2016-07-01 22:17] jessegreenberg commented on #44
This issue might be resolved via #42, so that issue should be addressed first.

[2016-07-01 22:17] jessegreenberg commented on #45
This issue might be resolved via #42, so that issue should be addressed first.

[2016-07-01 22:26] jessegreenberg commented on #45
Ahh, I see and options.slider is created in SliderControlPanel.  ```options``` is a nested object.  I find this a little confusing because to reference the required values in SliderWithReadout, you need to go through a list of keys like ```options.slider.tick.step```.  Instead of creating a complex options object, could the HSlider be created in SliderControlPanel, and passed as a parameter to Sli

[2016-07-01 22:59] jessegreenberg commented on #25
Code review completed, @veillette @Denz1994 @memo330179 great work, the sim looks really nice and is in great shape!

Once the issues labeled code-review have been completed, everything in the checklist will be covered.  I have gone ahead and checked everything off here.  Progress will be tracked in the issue list.

Removing the high priority label, but keeping this issue open for reference.  Also

[2016-07-04 22:42] veillette commented on #44
Regardless of #42, we should fix this. It should be easily done. Assigning to @Denz1994

[2016-07-05 13:02] memo330179 commented on #43
The comment on top of the options did not provide anything useful in my opinion, and the comment on top of the fontOptions only made visual clutter. the fontOptions variable name make it clear that it is options for the font. Everything else explains what is going on.

[2016-07-05 14:32] memo330179 commented on #38
I have added a description of the IntroBall and LabBall and what makes them unique at the top of the file.

[2016-07-05 14:49] memo330179 commented on #35
I've added the documentation with the responsibilities the step function has. I tried to be descriptive, but not clutter the JSDoc.

[2016-07-05 15:13] Denz1994 commented on #28
This approach is  definitely more stable. The timer delay solution was a bit hackish.

We were able to create this "isInitiallyPainted" flag and check for the images' existence. The step function in the view now checks for the flag and invalidates the paint based on the its boolean value. This value is updated during the initial creation of the images and from there on out we don't have to worry a

[2016-07-05 17:00] phet-steele opened #46 "Automated Testing Build Error (7/5/2016 9:58 AM)"
[code]

[2016-07-05 19:23] memo330179 commented on #41
I created a new screenView element and added the common element in the lab and intro views. I also update the JSDoc for the common view.

[2016-07-05 21:39] Denz1994 commented on #39
The "lowerBallMaximum" parameter has been replaced by "ballsOnScreen" for more flexibility. Now users can enter "?ballsOnScreen=450" and the lab tab, once opened, will be initialized as if 450 balls have fallen. This includes updating the histogram along with the statistics associated with 450 randomly dropped balls (the histogram differs every time, as it should).

This may be useful for instruct

[2016-07-05 21:58] jessegreenberg commented on #28
Thanks @Denz1994, your commit looks great!  In the commit above, I removed the null check for BallsLayerNode for the same reason as the initial issue comment.  Your fix in https://github.com/phetsims/plinko-probability/commit/7afbca15e9cbae4731723089c7b929204c5f0aea isn't necessary there because we don't hit that image on startup.

[2016-07-05 21:58] #28 closed

[2016-07-05 22:01] jessegreenberg commented on #35
Thanks @memo330179!  Looks great.

[2016-07-05 22:01] #35 closed

[2016-07-05 22:03] jessegreenberg commented on #43
Thanks @memo330179.  I agree that the variable name makes it clear enough what the object is for.  Closing.

[2016-07-05 22:03] #43 closed

[2016-07-05 22:06] jessegreenberg commented on #38
Thanks, @memo330179, that helps clarify the ball types.  Closing.

[2016-07-05 22:06] #38 closed

[2016-07-05 22:17] jessegreenberg commented on #40
I let the sim run overnight, and there is no indication of a memory leak.  I expected there to be a memory leak since observers are not explicitly removed when balls are removed from the observable array.  Since balls are allocated and destroyed I thought the observer would need to be disposed with 'off' to prevent a leak.

Perhaps I don't understand something though, why would https://github.com/

[2016-07-05 22:41] jessegreenberg commented on #41
Thanks @memo330179, that looks great!  In the IntroView and the LabView, creation of ```GaltonBoardCanvasNode```, ```BallsLayerNode```, and ```VerticalRadioButtonCommon```are almost identical.  Would it be possible to move any of these to the new common screen view?

[2016-07-05 22:46] jessegreenberg commented on #39
@Denz1994 PlinkoProbabilityQueryParameters looks great.  ```?launchedBalls=###``` is a very helpful addition!  Closing.

[2016-07-05 22:46] #39 closed

[2016-07-06 13:49] Denz1994 commented on #37
Assertion was corrected to match documentation. Assigning to @jessegreenberg for review.

[2016-07-06 15:22] amanda-phet commented on #23
I figured out how to VPN :) They look really good to me!

[2016-07-06 15:32] memo330179 commented on #46
Paging @veillette for review.

[2016-07-06 17:55] amanda-phet opened #47 "Move "N=100" panel up slightly on Intro screen"
The top of the panel should be aligned on both the Intro and Lab screens so that the "N = " readout is aligned.

![screen shot 2016-07-06 at 11 55 27 am](https://cloud.githubusercontent.com/assets/7852916/16628834/9812d5f2-4370-11e6-87ad-dc9910f82ef1.png)

[2016-07-06 18:48] memo330179 commented on #41
I've moved BallsLayerNode to the common view. @jessegreenberg  Moving GaltonBoardCanvasNode and VerticalRadioButtonCommon is a bit trickier. You are right that they creation of them is almost identical, but they need different tab specifics options.

In particular, GaltonBoardCanvasNode created both the triangular GaltonBoard background and the pegs that reside in it. In the intro tab these pegs a

[2016-07-06 19:01] amanda-phet opened #48 "CPU overload when sim is running in Firefox"
Test device: Macbook pro

Operating System: OS X 10.10.5

Browser: Firefox

Problem description: CPU overloaded when the tab with the sim is open. If I switch to another tab it calms back down.

Steps to reproduce: Open sim in firefox and keep it open.

Severity:

Screenshots:
<img width="619" alt="screen shot 2016-07-06 at 12 00 48 pm" src="https://cloud.githubusercontent.com/assets/7852916/16630

[2016-07-06 19:02] veillette commented on #42
The short answer is no, it is not possible (currently)  to do so.
I have file an issue in scenery-phet https://github.com/phetsims/scenery-phet/issues/244 and I'll bring it up to the dev meeting.  It turns out that many sims have a similar layout to plinko-probability.

For your information, I wrote SliderWithReadout  nearly two years ago.  At that point we didn't have NumberControl.  I attempted

[2016-07-06 19:05] veillette commented on #46
@memo330179 can you confrim that you can build the sim?

[2016-07-06 19:14] memo330179 commented on #46
[code]

confirmed

[2016-07-06 19:16] veillette commented on #46
Thanks, closing

[2016-07-06 19:16] #46 closed

[2016-07-06 19:19] veillette commented on #48
I have noticed something similar in chrome. We may need to do some regression testing because it did perform well in chrome in the past.

[2016-07-06 19:48] Denz1994 commented on #36
I was able to get rid of the bin/peg interfaces and moved all the methods into their respective call locations. For example, instead of referencing the peg interface for a method, the method is already included within the file. This removes dependencies on pegInterface.js and binInterface.js and thereby have been deleted from the directory.

Assigning to @jessegreenberg for review and input.

[2016-07-06 19:59] Denz1994 commented on #44
We were able to specify as an option in the sliderReadoutText that for this sim we only want the numerical value of the readout (according to the design doc). The option for including the unit has been left in the code to generalize how someone might want to include units in the readout text. This will be further investigated by #42.

However, for now we were able to assure a unit would not be inc

[2016-07-07 13:59] Denz1994 commented on #47
Some alignment parameters were adjusted so the number display panels are aligned.

[2016-07-07 15:54] veillette commented on #30
The directory was created

We have seven png images checked in.

- [ ] container
- [ ] counter
- [ ] fraction
- [ ] intro-homescreen-icon
- [ ] intro-navbar-icon
- [ ] lab-homescreen-icon
- [ ] lab-navbar-icon

We would need the .ai files to be checked in the asset directory

We also have four sounds
- [ ] bonk-1-for-plinko
- [ ] bonk-2-for-plinko

We would like to get the .wav files checked in th

[2016-07-07 15:58] veillette commented on #30
@amanda-phet: I believe that it is now possible to upload binary files directly into GitHub from the web interface. If you run into any difficulties, you can email me the files instead.

[2016-07-07 16:34] jessegreenberg commented on #44
Thanks @Denz1994, that looks good.  If this is generalized to common code possibly depending on (https://github.com/phetsims/scenery-phet/issues/244), we will want the default string pattern to come from a translatable strings file (scenery-phet-strings_en.json?)

Could you add a quick note in the documentation reminding us to do this?

[2016-07-07 16:38] jessegreenberg commented on #37
Thanks @Denz1994, does the same need to be done for functions ```getValuePosition``` and ```getBinLeft```?  Could you also add a comment in the assertion as suggested by @veillette in https://github.com/phetsims/plinko-probability/issues/37#issuecomment-230054462?

Also,
[code]
is equivalent to
[code]

This is really an issue of preference, but I find the second to be more clear.  But totally up t

[2016-07-07 16:42] jessegreenberg commented on #36
Above commits look great, thanks @Denz1994.  Closing.

[2016-07-07 16:42] #36 closed

[2016-07-07 18:41] veillette commented on #37
I rewrote the assertion as suggested by @jessegreenberg . In the process I checked two additional assertions, and found that they were faulty and should be written without the <= sign but <.

As a sanity test I ran the sim for with assertion flag and fuzzMouse=100 for 10 minutes. No assertions were triggered. I think our work is complete here. Reassigning to @jessegreenberg.

[2016-07-07 18:52] veillette commented on #42
There was already an issue: https://github.com/phetsims/scenery-phet/issues/217

[2016-07-07 18:56] jessegreenberg commented on #37
Commit above looks good, thanks @Denz1994 and @veillette.  Closing the issue.

[2016-07-07 18:56] #37 closed

[2016-07-07 19:08] jessegreenberg commented on #42
Great, thanks for looking into this @veillette.  Comments in https://github.com/phetsims/plinko-probability/issues/42#issuecomment-230871937 make total sense.  Feel free to leave this open or close depending on how you proceed in https://github.com/phetsims/scenery-phet/issues/217.

[2016-07-07 19:12] jessegreenberg commented on #41
That makes sense @memo330179.  I agree with your thoughts that it would be more work and less maintainable to do something like

Thanks for clarifying and describing to me!  Closing.

[2016-07-07 19:12] #41 closed

[2016-07-07 19:24] jessegreenberg commented on #40
I also did a test where I hacked the step function to continuously create balls and let them reach the bottom histogram, which I let run for about 5 hours.  Still no indication of a memory leak in this case.  @veillette I am satisfied that there is no leak, feel free to close at any time.

[2016-07-07 19:44] veillette commented on #40
Thanks for doing the test.
FYI, I have a very shaky understanding of memory leaks and my comment was trying to ascertain why you did not observe a memory leak. I was hoping you could inform me about   By the way, there are only four sims (area-builder, build-a-molecule, molecules-shapes, and curve-fitting) that have a .off but there are numerous simulations that have .on.   I'm still unclear on ho

[2016-07-07 19:48] veillette commented on #40
For testing purposes, I will look into a way of generating a memory leak in the first place , so I know what are the minimum ingredients to generate a memory leak and so and then how .off can fix it.

I'll leave this open and report back here if I find something.

[2016-07-07 22:59] jessegreenberg opened #49 "Replace Events with Emitter"
Sorry to add this on after the code review, but I noticed this while investigating https://github.com/phetsims/plinko-probability/issues/40.

Events.js has been marked as deprecated and should be replaced with Emitter.js.  Rather than extend Emitter, Ball and Histogram should extend something else, and an Emitter should be create for each type of event that needs to be emitted.

For example, you c

[2016-07-07 23:46] jessegreenberg commented on #40
@veillette I think in this case when the ball needs to be removed from the model, there are no other references to the ball or its observers so the garbage collector is able to remove it from memory.  If the ball were referenced by another listener which was linked to an event that persisted beyond the lifetime of the ball, then a memory leak would occur.

For instance, I just created a memory lea

[2016-07-08 12:50] veillette commented on #49
I had a look at expression-exchange. Ball and histogram are now extending Object rather than Events. There are no more Events in the sims.. We have now four different type of emitters.

For the balls, I added a remove listener  (following a pattern I observed in  expression exchange)  to emitter that were attached to balls, to prevent any memory leaks.

 I also commented on why this procedure is u

[2016-07-08 12:58] veillette commented on #40
Thanks, that makes a lot of sense.

Even though you didn't observe a memory leak, I added remove listeners to the listeners that were added to balls. I'll perform a memory leak check as well since #49 was a pretty extensive (and report here)

[2016-07-08 14:13] jessegreenberg commented on #44
I have added the documentation, will likely be revisited as part of #42.  Commits from @Denz1994 look great, closing.

[2016-07-08 14:13] #44 closed

[2016-07-08 14:33] Denz1994 commented on #40
![image](https://cloud.githubusercontent.com/assets/13894380/16690568/9d252928-44f6-11e6-97e5-47393bb37329.png)

We were able to test for memory leaks by creating snapshots at different intervals:

- Snapshot 1 = 0 Balls
- Snapshot 2 = 1000 Balls
- Snapshot 3 = 2000 Balls
- Snapshot 4 = 7000 Balls
- Snapshot 5 = 10000 Balls
- Snapshot 6 = 12000 Balls
- Snapshot 7 = 20000 Balls
- Snapshot 8 = 30000

[2016-07-08 14:39] veillette commented on #49
Assigning to @jessegreenberg for review.
FYI, in the commit, there was not change in IntroModel. I must have applied the codestyle while working on this issue.

[2016-07-08 15:26] Denz1994 commented on #40
![image](https://cloud.githubusercontent.com/assets/13894380/16691557/115a3b22-44fb-11e6-9e20-52c1b190423a.png)

Additionally, I tried to catch leaks via various methods:
- Dropping balls and using reset all button to remove balls
- Dropping balls and moving row sliders mid drop
- Running sim and switching browser tabs
- Running sim and switching between intro and lab tabs

I was not able to produ

[2016-07-08 18:11] jessegreenberg commented on #49
Big change @veillette, and it all looks great! Thanks.

[2016-07-08 18:11] #49 closed

[2016-07-08 18:17] jessegreenberg commented on #40
Thanks all, sorry for the false alarm.  Screenshots from @Denz1994 show that there is no leak.  Thanks for removing the observers in https://github.com/phetsims/plinko-probability/issues/40#issuecomment-231352741 @veillette, that does seem safest overall.

Closing.

[2016-07-08 18:17] #40 closed

[2016-07-11 16:19] amanda-phet commented on #47
While the panels seems to be aligned, the readout is still jumping a bit when switching between screens. Are the font sizes different?

[2016-07-12 17:32] phet-steele opened #50 "Automated Testing Build Error (7/12/2016 10:04 AM)"
[code]

[2016-07-14 16:21] amanda-phet commented on #20
In last week's interview of this sim the student clicked reset all to interact again, so this behavior seems to be working.

[2016-07-14 16:23] amanda-phet opened #51 "Change Request: make statistics panel open by default"
In an interview with a 6th grader, he opened the panel and found the "ideal" checkbox and was very interested in comparing the data with the ideal distribution. However, a math educator never found the checkbox! So, since the 6th grader was not intimidated by the statistics, I think we should have this panel open on startup (but allow the user to minimize if they want).

[2016-07-18 22:53] phet-steele commented on #50
Fixed in https://github.com/phetsims/plinko-probability/commit/091e489d84e6792d9bd085902868f444b42d8c2e

[2016-07-18 22:53] #50 closed

[2016-07-20 20:36] amanda-phet commented on #30
@jbphet do you have the sound files to upload?

[2016-07-20 20:44] amanda-phet commented on #20
Since this worked well in an interview I'll go ahead and close the issue.

[2016-07-20 20:44] #20 closed

[2016-07-21 16:57] jbphet commented on #30
I used a program called "Propellerhead Reason" to generate the sounds.  I could upload the file, but it doesn't seem very worthwhile, since it isn't a program that anyone else is likely to have and thus couldn't edit it.  We should discuss in developer meeting whether such files should be stored in assets.

[2016-07-21 17:08] veillette commented on #47
The reason for the discrepancy is that one screen uses a panel whereas the other one uses an accordion box. The default values for spacing are probably different.  We should be able to match them very closely.
Will investigate

[2016-07-21 17:35] veillette commented on #51
The statistics accordion box is set to open by default. (and set to open when one presses on reset)

[2016-07-21 17:39] veillette commented on #47
The text doesn't seem to toggle anymore on my screen,  but I don't have a very high quality monitor so I cant vouch for sure.

 I'm assigning back to @amanda-phet to ascertain.

[2016-07-21 17:43] samreid commented on #30
Everyone agrees we should check in the original asset files, including full resolution wave files, propellerhead files, etc.  If you wrote code to generate the audio, the code should be checked in, etc.

[2016-07-21 17:56] veillette commented on #51
work done, closing

[2016-07-21 17:56] #51 closed

[2016-07-21 18:03] amanda-phet commented on #51
Thank you!

[2016-07-22 19:40] veillette commented on #27
This is done. Closing

[2016-07-22 19:40] #27 closed

[2016-07-25 17:06] amanda-phet commented on #47
Looks good to me. Thank you for making the custom fix!

[2016-07-25 17:06] #47 closed

[2016-08-01 15:37] amanda-phet commented on #32
[code]

[2016-08-01 16:19] veillette commented on #32
This is what I have so far
[code]

[2016-08-04 17:59] phet-steele commented on #48
I took some numbers of % CPU usage in both Chrome and Firefox. Tests were recorded on the lab screen while letting the sim drop endless balls with either the Balls option or None option checked:

| | Chrome | Firefox |
| --- | --- | --- |
| **Idle** | 7% | 15% |
| **Running (Balls)** | 8% | 24% |
| **Running (None)** | 9% | 100%-160% |

These tests were run in 1.0.0-dev.6, so the long and short of

[2016-08-15 21:36] veillette commented on #26
Using the Ipad2, and unhooking the listener attached to the PlayButton, then the sim frame rate could go down as low as 12 fps while tapping the PlayButton.

This happens in requirejs and build mode.

I wonder if it is related to the gradients in the Play Button.

[2016-08-15 21:50] veillette commented on #26
Using a flatAppereanceStrategy, then the lowest number of frames I could get was 40 fps (with no listener).

[2016-08-15 21:55] veillette commented on #26
And hooking back the listener but with  the flatAppereanceStrategy  the lowest fps I could get was 30fps.

[2016-08-23 20:34] pixelzoom commented on #42
phetsims/scenery-phet#217 is closed, so this can now be addressed.

[2016-08-23 21:15] pixelzoom commented on #42
Done, also fixed an i18n layout issue.  I made the value font a tad larger, since it seemed awfully small compared to other displayed values. Screenshot below. @jessegreenberg would you mind reviewing?

![screenshot_86](https://cloud.githubusercontent.com/assets/3046552/17910039/64d46e36-6944-11e6-8548-a207601ae098.png)

[2016-08-23 21:17] pixelzoom opened #52 "Panels should use align:'center'"
Noted while working on https://github.com/phetsims/plinko-probability/issues/42...  This sim creates a few sun.Panel instances, but keeps the default alignment (which is 'right' for some reason, seems like it should be 'center' or 'left').  The result is that there are a few panels whose contents isn't centered with `stringTest=long`.

[2016-08-23 21:41] pixelzoom commented on #52
@jessegreenberg would you mind taking a peek at this one? Thanks.

[2016-08-26 16:34] andrewadare commented on #30
@jbphet Now that it's been decided to put the audio project files in the repo, can you add the Reason file(s) to assets/ when you get a chance? Thanks!

[2016-08-26 19:41] pixelzoom commented on #52
I think this got sufficiently vetted during https://github.com/phetsims/sun/issues/252, so I'm going to go ahead and close this issue.

[2016-08-26 19:41] #52 closed

[2016-08-26 19:44] pixelzoom commented on #45
SliderControlPanel  was replaced with NumberControl in https://github.com/phetsims/plinko-probability/issues/42, so this is no longer an issue. Closing.

[2016-08-26 19:44] #45 closed

[2016-08-26 19:45] pixelzoom commented on #30
@jbphet This sim is now in the "home stretch", so please add the assets for the audio files asap. Thanks.

[2016-08-26 19:46] pixelzoom commented on #25
There are 2 issues remaining labeled "code review", so I'm going to go ahead and close this issue.

[2016-08-26 19:46] #25 closed

[2016-08-26 19:48] pixelzoom opened #53 "check in assets for audio files"
This issue was factored out of https://github.com/phetsims/plinko-probability/issues/30.

@jbphet said:

@samreid said:

@andrewadare said:

@pixelzoom said:

[2016-08-26 19:49] pixelzoom commented on #30
Moved check in of missing audio assets to https://github.com/phetsims/plinko-probability/issues/53.  All other assets appear to be present. Closing.

[2016-08-26 19:49] #30 closed

[2016-08-26 19:52] pixelzoom commented on #32
This sim is now in the "home stretch" so we need to wrap up this issue.  @amanda-phet Assigning this to you, since you're the lead.  Please specify any changes that need to be made.

Here's what the credits currently look like in curve-fitting-mains.js:

[code]

And in the About dialog:

![screenshot_97](https://cloud.githubusercontent.com/assets/3046552/18018443/26639788-6b94-11e6-8a39-f1fe692089

[2016-08-26 20:05] pixelzoom opened #54 "bin numbers start from zero?"
A design question for @amanda-phet ...

I noticed that the bins in this sim (and the original Flash version) are numbered starting from zero. I wanted to verify that this is really what's desired, and not a "programmer-ism" that snuck into the user presentation.

I did a Google search, and sometimes I see the bins numbered from zero (http://ptrow.com/articles/Galton_June_07.htm), other times numbe

[2016-08-26 20:06] pixelzoom commented on #54
@ariel-phet also feel free to chime in if you have any information on this.

[2016-08-26 20:08] ariel-phet commented on #54
@pixelzoom this was definitely intentional, but thanks for checking. Since the bins represent a histogram of the number of balls that have actually landed in the bin, they should definitely start from zero.

Closing.

[2016-08-26 20:08] #54 closed

[2016-08-26 20:33] pixelzoom opened #55 "Use reproducible random number generators"
Related to https://github.com/phetsims/phet-io/issues/551...  I see that this sim uses `new Random` and `Math.random` in a few places.  So playback/record will not be reproducible.  Recommended to address this before publishing, since it's relatively simple.  @ariel-phet your call. @samreid feel free to chime in.

[2016-08-26 20:39] pixelzoom commented on #55
TODO:

• Change 1 instance of `Math.random` to `phet.joist.random.nextDouble`
• Change 2 instances of `Random.random` to `phet.joist.random.random`

[2016-08-26 20:45] samreid commented on #55
Yes, this is now part of the code review and would be nice to test if Plinko is going to get another full QA cycle.

[2016-08-26 20:51] ariel-phet commented on #55
Yes, please address, thanks for pointing it out

[2016-08-26 20:54] phet-steele commented on #32
@pixelzoom QA credits are correct, but not alphabetical by last name. That's the only thing that needs changing in QA.

[2016-08-26 21:08] pixelzoom commented on #32
QA names have been alphebetized.

[2016-08-26 21:12] jbphet commented on #53
The original audio asset file has been added, closing.

[2016-08-26 21:12] #53 closed

[2016-08-26 21:30] pixelzoom opened #56 "usability tweaks"
Discussed with @ariel-phet, a couple of usability tweaks requested for pointer areas and such:

- [x] Increase the font size for the Ball/Path/None radio button labels on the Lab screen, same size as "Rows" and "Binary Probability" in control panel.

- [x] Extend touchArea a bit to the right for radio buttons mentioned in (1).

- [x] Dilate touchArea for accordion box expand/collapse button in the

[2016-08-26 21:41] pixelzoom commented on #55
I replaced `Math.random` and `new Random`.  I also used `phet.joist.random.nextBoolean` in a couple of places where expression `( random.random() > 0.5 )` was used.

@samreid Would you mind taking a peek, to see if this looks ready for record/playback?

[2016-08-26 22:30] ariel-phet commented on #12
@amanda-phet can you check off the current relevant items here (lead designer sign off mainly, and probably good for you to review ?showPointerAreas)

@pixelzoom is finishing off this sim and will likely move quickly so would be good to get our docs in a row

[2016-08-26 22:30] ariel-phet commented on #12
And please assign back to me after those steps @amanda-phet

[2016-08-26 22:36] jessegreenberg commented on #42
The code looks great @pixelzoom.  I notice that the NumberControl thumbs are now green rather than the default HSlider light blue.

The green is coming from the default for thumbFillEnabled in NumberControl.  Can NumberControl use the default HSlider thumb color?

[2016-08-26 22:41] pixelzoom opened #57 "duplicate Properties in model and view"
There are duplicate Properties in the model and view, and it's unlikely that this duplication is necessary.

PlinkoProbabilityCommonView:

[code]

PlinkoProbabilityCommonModel:

[code]

[2016-08-26 22:55] pixelzoom commented on #9
FYI... In @6dcc5ccecc1bde0515236b87a0c0e41fe3241c52, container.png and container.ai were renamed to cylinder.png and cylinder.ai respectively, because their corresponding Property value is 'cylinder'.

[2016-08-26 23:04] pixelzoom commented on #57
histogramModeProperty was defined in the model, but not used anywhere. I removed it in the above commit.

[2016-08-26 23:12] pixelzoom commented on #57
ballRadioProperty was likewise defined in the view, but not used anywhere. I removed it in the above commit.

[2016-08-26 23:17] pixelzoom commented on #57
Duplicate (unused) Properties have been removed, the used Properties have been given better names, and their values are documented and validated.

Closing.

[2016-08-26 23:17] #57 closed

[2016-08-27 00:17] pixelzoom opened #58 "buggy "Binary Probability" control"
Perhaps this is due to my lack of understanding about how the "Binary Probability" control is supposed to work in the Lab screen.  But as I slide it between 0 and 1, I was expecting the flat side of the pegs in the Galton board to rotate from left to right.  But if I move the slider very fast, I can get cases where the slider value is 0 and the flat side of the pegs are facing straight up, instead

[2016-08-27 00:21] pixelzoom commented on #56
Changed completed. @ariel-phet please verify in this dev version:

http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.7/plinko-probability_en.html

[2016-08-27 00:22] pixelzoom commented on #58
You can test in this dev version:

http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.7/plinko-probability_en.html

[2016-08-27 00:29] phet-steele commented on #58
@pixelzoom I can say with 100% certainty that this is a bug, however I am not currently observing it on Win 10 Chrome.

[2016-08-27 00:30] ariel-phet commented on #58
Definitely a bug, observed on Win 7 FF

[2016-08-27 00:31] ariel-phet commented on #58
If an "easy" fix is setting a max speed at which the slider can be changed or such, that is fine with me. I have to move it pretty darn fast to see this problem.

[2016-08-27 00:34] pixelzoom opened #59 "rename PlinkoConstants?"
The usual convention would be to name this either PlinkoProbabilityConstants or PPConstants.  Other types use the "PlinkoProbability" prefix (e.g. PlinkoProbabilityQueryParameters, PlinkoProbabilityCommonView, PlinkoProbabilityCommonModel).

I don't feel too strongly about which way to go.  But PlinkoProbabilityConstants is going to result in some very long lines at the sites where the constants a

[2016-08-27 00:38] pixelzoom commented on #26
@veillette I'm surprised that changing the appearance of the play button has any affect on performance. Any chance that you have a Canvas that's overlapping the play button, and causing it to be redrawn on every frame?

[2016-08-27 00:39] pixelzoom commented on #58
I don't have to move it very fast at all (Mac + Chrome) to see the problem.  There's no good reason why speed should affect this, there's probably a logic (or rounding) bug somewhere. I'll investigate.

[2016-08-27 00:41] ariel-phet commented on #56
Checked on iPad 2, all looking very good and easy to click (even with my sausage fingers). Closing

[2016-08-27 00:41] #56 closed

[2016-08-27 00:41] pixelzoom opened #60 "alignment request"
Skype request from @ariel-phet:

Yes, we can!

[2016-08-27 00:46] pixelzoom commented on #60
Done, same in both panels, screenshot below. Closing.

![screenshot_101](https://cloud.githubusercontent.com/assets/3046552/18023938/552f3e2c-6bbd-11e6-9731-e048fe9673f5.png)

[2016-08-27 00:46] #60 closed

[2016-08-27 00:50] pixelzoom commented on #32
I moved @veillette to the front of the "Software Development" list, since he clearly did the bulk of the work.  And I added myself. Here's the latest About dialog:

![screenshot_102](https://cloud.githubusercontent.com/assets/3046552/18023982/e4851c4a-6bbd-11e6-9c09-bcd533e4dd78.png)

[2016-08-27 01:04] pixelzoom commented on #42
Yes, I think that NumberControl should use the default HSlider thumb color.  I've done that in the above commit.  The only clients are currently hookes-law and CCK.  I've verified that it doesn't change hookes-law.

@samreid Please be aware that NumberControl is now using the default color for the HSlider thumb, rather than setting its own default of 'green'.  If you were relying on 'green', you'l

[2016-08-27 01:05] pixelzoom commented on #42
I compared with an older dev version, and the thumb color is now correct. Closing.

[2016-08-27 01:05] #42 closed

[2016-08-27 01:08] pixelzoom commented on #58
This bug is easily reproducible in 1.0.0-dev.6, so not something that I introduced during cleanup.

[2016-08-27 01:27] pixelzoom commented on #58
Here's where the pegs are updated when the probability changes. GaltonBoardNode line 94:

[code]

And pegPathToImage is:

[code]

Using the `toImage` functions in scenery has (for me) resulted in unpredictable behavior, as the the image is created asynchronously.  And I'm betting that's what's happening here - the image isn't ready when it's time to draw, and we're drawing some older version of th

[2016-08-27 01:29] pixelzoom commented on #58
I'm a little surprised that this requires converting the peg to an image, then drawing multiple pegs with Canvas.  Why not create one Image node, then use scenery's DAG feature to render it in multiple places?  There are indeed a lot of pegs when rows=26, but I'd still be surprised if this were a performance showstopper.

[2016-08-28 21:13] veillette commented on #26
There are two canvas nodes in the simulation. One for the pegs and one for the rendering of the balls.  The peg canvas is limited to the galton board. It is a rectangle that just encompasses the triangular galton board.

The ballsLayerNode canvas is redrawn at every frame but it does not overlap with the play button.  The ballsLayerNode canvas bounds are given by the union of the galtonBoard and t

[2016-08-28 21:40] veillette commented on #58
FYI @pixelzoom, the pegs were rendered (initially) using scenery which worked very well but it proved to be to slow for the iPad2, at least in the way we had done it.
Here is a reference to the svg implementation
https://github.com/phetsims/plinko-probability/blob/66f08e11daf90702a0ee3e926a6824dd87b83639/js/common/view/GaltonBoardNode.js

The canvas Node implementation was a real can of worms, tha

[2016-08-28 21:41] veillette commented on #59
I don't have a strong opinion about it.

[2016-08-29 03:10] samreid commented on #55
Looks good, I tested in the playback harness and everything was playing back perfectly.  In my preceding commits, I deprecated `Random.random` and switched plinko to use `Random.nextDouble` instead.  If all is well, you may close this issue, @pixelzoom

[2016-08-29 15:21] pixelzoom commented on #55
If `Random.random` is deprecated, then perhaps it shouldn't be used to implement 3 of Random's other functions.   I.e., swap implementations of `random` and `nextDouble`, then use `nextDouble` internally.  @samreid what do you think?

[2016-08-29 15:24] samreid commented on #55
Good plan, swapped above.

[2016-08-29 15:47] pixelzoom commented on #26
Ideally we'd like to change the play button back to 3dAppearanceStrategy.  @ariel-phet noted the change when I published 1.0.0-dev.7.

[2016-08-29 15:57] pixelzoom commented on #55
... and switched to using `nextDouble` internally in this commit: https://github.com/phetsims/dot/commit/296008e9a0c69a790321db8f96bc7ec78e0e0962

Looks good. Closing.

[2016-08-29 15:57] #55 closed

[2016-08-29 18:48] pixelzoom commented on #59
I renamed PlinkoConstants to PlinkoProbabilityConstants.  But I'm not going to inspect all 156 usages to check for lines that have gotten too long.  We'll address those as we encounter them during ongoing development and maintenance.

[2016-08-29 18:48] #59 closed

[2016-08-29 23:42] pixelzoom commented on #58
Some ideas:

(1) Instead of rotating the peg in scenery, handle the rotation in Canvas.

(2) Draw all of the pegs using a single scenery.Path, eliminating the need for Canvas.

(3) There's really no reason to redraw the peg shadows when probability changes. If (2) is possible, then draw all of the shadows once as a single scenery.Path.  Recompute only when numberOfRows changes.

[2016-08-30 00:45] pixelzoom opened #61 "getSpacing is duplicated 4 times"
The function `getSpacing` is duplicated in Ball, GaltonBoard, BallsLayerNode and GaltonBoardNode.

[code]

[2016-08-30 00:46] pixelzoom commented on #61
"The distance is given in the model view" ??  What is "the model view"?

[2016-08-30 01:55] pixelzoom commented on #61
I consolidated the 4 implementations in `@static GaltonBoard.getPegSpacing`.

Closing.

[2016-08-30 01:55] #61 closed

[2016-08-30 01:59] pixelzoom commented on #58
Summary of optimizations that I did:

• Call `toImage` for peg and shadow only once, in the default orientation
• Handle rotation of the pegs in Canvas
• For the Intro screen where the pegs do not rotate, do not link to probabilityProperty, and draw the pegs as a simply circle.

Other fixes:
• Properly handle the situation where an asynchronously created image is not yet available, and call invali

[2016-08-30 02:04] pixelzoom commented on #58
After the above changes, the display now stays synchronized with the "Binary Probability" control.  And the sim feels responsive on iPad2.

@phet-steele Please take this dev version for a test drive on a few platforms (thanks).
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.8/plinko-probability_en.html

[2016-08-30 02:09] pixelzoom opened #62 "paintCanvas is called continuously"
As soon as a screen is selected on the Home screen, `BallsLayerNode.paintCanvas` and `GaltonBoardNode.paintCanvas` are called continuously.  This occurs without having otherwise interacted with the sim, and there's nothing visibly changing on the screen.

[2016-08-30 02:26] pixelzoom commented on #62
I reverted to @ fa37ddb19bb8e9e78a94a96a30b021cc5179b7f8, before I started working on this sim.  I see `BallsLayerNode.paintCanvas` called continuously, but not `GaltonBoardNode.paintCanvas`.

`GaltonBoardNode.paintCanvas` started being called continuously with eca6eba687ff6089f25f80ae692ce85eaf877c70, the changes made for #58.

[2016-08-30 02:34] pixelzoom opened #63 "make the balls fall a bit faster once they've entered the bins"
On the Intro screen, make the balls fall a bit faster once they've entered the bins (cylinders).

Skype discussion:

[8/29/16, 8:26:57 PM] Ariel Paul: when they reach the cylinders they appear to slow down
[8/29/16, 8:27:02 PM] Ariel Paul: and then fall at a constant rate
[8/29/16, 8:27:20 PM] Chris Malley: checking...
[8/29/16, 8:27:28 PM] Ariel Paul: to my eye, they should probably fall a little

[2016-08-30 02:42] ariel-phet commented on #63
Just to add, I don't think it needs to speed up much (probably make a tweakable parameter just so we can dial it in) but I am guessing 25 to 50 percent faster

[2016-08-30 03:01] pixelzoom commented on #63
Increased speed in the bin by 2x, reviewed with @ariel-phet via Skype, closing.

[2016-08-30 03:01] #63 closed

[2016-08-30 14:39] pixelzoom commented on #62
And here's the offending code in `PlinkoProbabilityCommonView`:

[code]

[2016-08-30 14:45] pixelzoom commented on #62
The need for the `isInitiallyPainted` flag was removed in the work that I did for #58.  So I deleted the call to `galtonBoardNode.invalidatePaint`.  That solves half of the problem.

[2016-08-30 14:56] pixelzoom opened #64 "use ShadedSphereNode for balls"
BallNode (used to render the balls) is basically an implementation of a shaded sphere, with a specular highlight.  PhET already has something like this in common code, `scenery-phet.ShadedSphereNode`, and it should be used here.

[2016-08-30 15:00] pixelzoom commented on #64
Done.

This does change the look a bit, so I'd like @amanda-phet and @ariel-phet to verify. Before and after screenshots shown below.  The "After" look is now consistent with the look in other PhET sims.

Before:

![screenshot_106](https://cloud.githubusercontent.com/assets/3046552/18094255/0cdb7426-6e90-11e6-8e3a-13960de02f9f.png)

After:

![screenshot_107](https://cloud.githubusercontent.com/ass

[2016-08-30 15:11] pixelzoom commented on #64
Btw... I can also reproduce the original look, if you'd prefer.

[2016-08-30 15:27] pixelzoom opened #65 "fix toImage handling in BallNode"
Similar to the problem with pegs that addressed in #58.  The current handling only works because of the bug in #62.

[2016-08-30 15:28] amanda-phet commented on #32
I don't think there are any changes to make here.

[2016-08-30 15:28] #32 closed

[2016-08-30 15:29] #65 closed

[2016-08-30 15:30] ariel-phet commented on #64
Mind publishing a new dev version so I can view on iPad?

[2016-08-30 15:35] pixelzoom commented on #64
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.9/plinko-probability_en.html

[2016-08-30 15:38] amanda-phet commented on #64
I think it looks fine but I'll want to update the artwork for the screen icons to match the new ball appearance.

[2016-08-30 15:40] amanda-phet commented on #63
I am seeing this change in dev.9 and it looks fine to me.

[2016-08-30 15:41] pixelzoom commented on #64
Or I can adjust the implementation to match the artwork?  Note that the artwork and implementation didn't match exactly previously -- specular highlight was a little off.

[2016-08-30 15:41] pixelzoom commented on #63
Thanks @amanda-phet. Sorry you weren't in the loop on this one.

[2016-08-30 15:52] amanda-phet commented on #26
The flat design is fine.

[2016-08-30 15:56] pixelzoom opened #66 "confusing query parameters for testing the histogram"
The implementation of the 'ballsOnScreen' query parameter is a little confusing and unnecessarily complex.  It's also specific to the histogram, which you wouldn't know from the parameter name.

[2016-08-30 15:57] pixelzoom commented on #66
Cleaned up in above commit.  The query parameter is now named `populateHistogram`, used like this:

[2016-08-30 15:57] #66 closed

[2016-08-30 16:00] pixelzoom commented on #48
https://github.com/phetsims/plinko-probability/issues/62 may be responsible for this. The sim is continuously calling `paintCanvas`, even when nothing on the screen is changing.

[2016-08-30 16:01] pixelzoom commented on #26
#62 may be partially responsible for this. The sim is continuously calling `paintCanvas`, even when nothing on the screen is changing.  That may not leave enough time to repaint the button gradient for the 3D look.

[2016-08-30 16:06] ariel-phet commented on #64
Looks fine to me, but defer to @amanda-phet for particular look

[2016-08-30 16:07] ariel-phet commented on #26
If we do go for the "flat" look, lets make sure to center the black triangle of the play button in the circle (it is a little off to the left currently)

[2016-08-30 16:12] pixelzoom commented on #26
I'm afraid that's not currently possible.  See https://github.com/phetsims/sun/issues/236, which we agreed to address on 4/22/16, but has not made any progress.

[2016-08-30 16:18] pixelzoom opened #67 "use 1 shadow for Galton board"
From Board.js:

[code]

This is drawing 2 expensive gradients. And I don't see why the same look can't be accomplished with 1 shadow (with 1 gradient).

In light of other performance issues, this is worth investigating.

[2016-08-30 16:20] veillette commented on #26
I think it may be related to a commit I did, that should be reverted.
I was trying to minimizes the number of scenery nodes, I did not realized that it changed the centering of the play button.

https://github.com/phetsims/plinko-probability/commit/9f3c042d2cd0180e8ffe2359b526e60a1c236608

[2016-08-30 16:25] pixelzoom commented on #26
The centering problem is a general problem with sun buttons, where the content on flat buttons is not centered properly. See phetsims/sun#236.

[2016-08-30 16:28] amanda-phet commented on #26
@ariel-phet I thought it looked off-center as well but when I played with this in illustrator I am more convinced that it is an optical illusion.

<img width="305" alt="screen shot 2016-08-30 at 10 27 39 am" src="https://cloud.githubusercontent.com/assets/7852916/18097739/6c31bfb4-6e9c-11e6-8937-e97452e39998.png">

[2016-08-30 16:33] veillette commented on #67
FYI, this gradients are used once we instante the board. These are the dropped shadows of the board itself.

[2016-08-30 16:33] pixelzoom commented on #67
A couple of other problematic things in Board:

(1) Option `height` is passed through to supertype Node, which may have unintended consequences. Since this option is specific to Board, it should have a different name.

(2) All options are assigned to `this.options`. This pattern is to be generally avoided. And in this case, clients only need the board dimensions, for layout purposes.  Board's gene

[2016-08-30 16:35] ariel-phet commented on #26
@amanda-phet - sorry, my statement should be the triangle should be "visually centered"

[2016-08-30 16:37] pixelzoom commented on #67
Also kind of odd that we have `Board` (which renders the GaltonBoard background) and `GaltonBoardNode` (which renders the pegs).  Better names might be something like `GaltonBoardBackground` and `PegsNode` respectively.

[2016-08-30 16:53] pixelzoom commented on #67
There's also layout built into the shapes for the drop shadow nodes. The layout should be done in options to the nodes, not in the shapes.

[2016-08-30 16:58] pixelzoom commented on #67
Also magic constants in the drop shadows.  For example, `10` in this bit:

[code]

[2016-08-30 17:26] pixelzoom commented on #67
Keeping the 2-gradient approach for the shadow.  But I did factor layout out of the shapes, and factored out magic numbers.   Compared display to previous versions and they match, so no changes visible to user.  Closing.

[2016-08-30 17:26] #67 closed

[2016-08-30 20:09] pixelzoom commented on #62
There's a rather fundamental problem with this sim. For the balls, the view isn't notified when the model has changed. Instead, the view redraws itself on every frame (by calling ` BallsNode.invalidatePaint`), whether the model has changed on not.  So the sim is doing a lot of work when nothing is happening.

[2016-08-30 20:24] pixelzoom commented on #62
The sim is also relying on the call to `BallsNode.invalidatePaint` in `PlinkoProbabilityCommonView.step` as the means to clear the balls from the screen when the hopper mode is set (via radio buttons) to "Path" or "None".

[2016-08-30 20:57] pixelzoom opened #68 "cylinders overflow on Intro screen"
I've seen this with the "x All" setting.  One of the cylinders may fill all the way to the top, and then some.  See screenshot below, where the center cylinder has 5 balls above its top edge.

@amanda-phet is this OK or a bug?

![screenshot_108](https://cloud.githubusercontent.com/assets/3046552/18106687/17256d38-6ec2-11e6-973a-dfda9537bfde.png)

[2016-08-30 21:04] pixelzoom opened #69 "bad method of overriding histogramModeProperty default value"
The default value for `histogramModeProperty` is `'cylinder'`, see base type PlinkoProbabilityCommonView.

But Lab screen needs a different default value (`'counter`) for this Property.  Here's how it currently solves this problem.  In the constructor, it does this:

[code]

And in `reset`, it does this:

[code]

This is a bad way to handle this, because it works correctly only if the order of sta

[2016-08-30 21:06] ariel-phet commented on #68
This issue was definitely discussed with @veillette and his team. Because of the randomness this sometimes occurs, but I believe we all found this solution to be OK.

Still good to double-check with @amanda-phet.

[2016-08-30 21:08] #69 closed

[2016-08-30 21:43] pixelzoom opened #70 "duplicated constants for phase value"
In Ball, values are defined for the "phase" of a ball's journey from hopper to bin:

[code]

I noticed that `this.phase` is marked as `@public`, but none of the values are part of the public API.  Looking around I find that these constants duplicated in multiple places:

[code]

Note that `LabModel.PHASE_LANDED` even has a different name than `PHASE_COLLECTED`.

This is not acceptable.

[2016-08-30 22:11] pixelzoom commented on #70
There are a couple of ways I could have addressed this.  I could have changed the phase values to strings, then used string literals everywhere (as with `hopperModeProperty` and `histogramModeProperty`).  But since these were already integer values, using the enumeration pattern seemed to be in the spirit of the current implementation, and was the least disruptive.  So the phase values have been f

[2016-08-30 22:11] #70 closed

[2016-08-30 22:23] pixelzoom opened #71 "what is "the view model"?"
[implementation-notes.md](https://github.com/phetsims/plinko-probability/blob/master/doc/implementation-notes.md) says:

What is "the view model"?  Do you mean the model-view transform?

[2016-08-30 22:32] pixelzoom opened #72 "issues with "Out Of Balls!" dialog"
In the Lab screen, when you reach a maximum number (currently 9999) of balls in any one bin, this ugly dialog pops up:

![screenshot_109](https://cloud.githubusercontent.com/assets/3046552/18109550/3a7d9636-6ecf-11e6-8a11-4955a4611ff2.png)

And it fails stringTest=long:

![screenshot_110](https://cloud.githubusercontent.com/assets/3046552/18109554/43193cd2-6ecf-11e6-94f5-4bcf6d202b5b.png)

[2016-08-30 22:33] pixelzoom commented on #72
@amanda-phet If you have any requests for how you'd like this dialog to look, let me know.  I'm going to take a stab at it.  Nothing fancy, just make it look respectable and handle i18n properly.

[2016-08-30 22:35] pixelzoom commented on #72
I find it a little odd that this dialog is triggered by some maximum number of balls being reached in 1 bin, versus some maximum number of balls being dispensed from the hopper.  Since it's such a large number, maybe not worth worrying about.  But @amanda-phet and @ariel-phet let me know if you have an opinion on this aspect of it.

[2016-08-30 22:37] pixelzoom commented on #72
Also wondering why the Play button is still enabled is we're out of balls?  If I close the dialog and press the Play button, the dialog immediate pops up again.  Shouldn't the Play button be disabled until either the eraser button or Reset All button is pressed?

[2016-08-30 22:43] pixelzoom opened #73 "use PlayPauseButton"
This sim has is own `PlayButton` and `PauseButton`.  Why isn't is using the common-code button `scenery-phet.PlayPauseButton`?

[2016-08-30 23:15] pixelzoom commented on #72
Revised dialog, ditched the multiline text (harder to read), decreased font size, increased margins:

![screenshot_02](https://cloud.githubusercontent.com/assets/3046552/18110442/2533f45e-6ed5-11e6-86d9-d374b11c1f3c.png)

stringTest=long:

![screenshot_03](https://cloud.githubusercontent.com/assets/3046552/18110453/389faac4-6ed5-11e6-8afb-16d96222e9df.png)

[2016-08-30 23:28] pixelzoom commented on #72
Hmmm... This dialog appears only in the Lab screen, where the max is 9999 balls (unlikely to be reached).  If doesn't appear in the Intro screen, where the max is 100 balls (likely to be reached), and the Play button is simply disabled when the max is reached.  @amanda-phet Why does one screen need this dialog, while the other does not?

[2016-08-30 23:29] pixelzoom commented on #72
These lines in LabScreenView would seem to suggest that the Play button will be disabled when this dialog is displayed. But that's not the case.

[code]

[2016-08-30 23:38] pixelzoom commented on #72
The Play button now disables when the max number of balls is reached, and is enabled only after pressing eraser or Reset All button (similar to Intro screen).

[2016-08-30 23:42] pixelzoom commented on #72
So... The remaining design questions are:

1. What is the limit that we should be looking for in the Lab screen?  In the Intro screen, it's the number of balls dispensed (100).  In the Lab screen, it's quite different for some reason  - it's the number of balls in any one bin (9999).

2. Do we even need this dialog? Or is disabling the Play button (as we do in the Intro screen) a sufficient cue?

[2016-08-30 23:51] pixelzoom commented on #73
The current buttons in this sim look like this (currently flat, but could be 3D):

![screenshot_04](https://cloud.githubusercontent.com/assets/3046552/18111077/fa3b5a30-6ed9-11e6-9e5a-0323200cc315.png)
![screenshot_05](https://cloud.githubusercontent.com/assets/3046552/18111080/fce812be-6ed9-11e6-96f6-4cd8aa8763ac.png)

`scenery-phet.PlayPauseButton` has a different look:

![screenshot_06](https:/

[2016-08-30 23:52] pixelzoom commented on #73
PlayButton is 56 lines of code.
PauseButton is 58 lines of code.

Not a huge savings here by switching to PlayPauseButton, just the consistency of using common code.

[2016-08-30 23:53] pixelzoom commented on #73
RoundButtonView has a setter for baseColor, so likely that the play and pause states could have different colors.

[2016-08-30 23:54] ariel-phet commented on #68
Looked over meeting notes. This overflow was approved on the 12/11/2015 meeting and is noted in the design doc meeting notes. Closing.

[2016-08-30 23:54] #68 closed

[2016-08-31 00:14] pixelzoom commented on #72
I discussed questions 1, 2 and 3 above with @ariel-phet. All of those had been discussed in design meetings, and the current implementation is what is desired.

So @amanda-phet, all I need is the answer to 4: Is the revised Dialog acceptable? ... as shown in https://github.com/phetsims/plinko-probability/issues/72#issuecomment-243611253.

[2016-08-31 00:37] pixelzoom opened #74 "statistics panel pixel polishing"
After discussing with @ariel-phet... This panel in the Lab screen could use a little pixel polishing:

![screenshot_08](https://cloud.githubusercontent.com/assets/3046552/18111914/9929bfc8-6ee0-11e6-9431-76bfba51d76d.png)

I reclaimed a little vertical space in @7628bd134f4821f43137acfbadda78dfa1006f47 and @e9a51566a37480c4b3c7df9d189822f942bed761, so we have some space to play with.

[2016-08-31 00:46] pixelzoom opened #75 "histogram mode buttons move around when switching screens"
This is because the icons on the buttons are different sizes. RadioButtonGroup is used to create the buttons and it sizes all buttons to the largest icon dimension.

The easiest way to resolve this is to make the PNG icons files all have the same dimensions.

[2016-08-31 00:52] pixelzoom commented on #75
Done. Buttons now stay put when switching screens.  Closing.

[2016-08-31 00:52] #75 closed

[2016-08-31 16:00] amanda-phet commented on #74
What is the pixel-polishing that is being proposed?

[2016-08-31 16:01] amanda-phet commented on #72
4. Yes. The smaller text is a nice improvement.

[2016-08-31 16:04] amanda-phet commented on #73
I would prefer the common code button but with different colors. The green button was effective in interviews and I don't think the light blue would be bold enough.

[2016-08-31 16:17] ariel-phet commented on #73
@pixelzoom agree with @amanda-phet

[2016-08-31 16:25] ariel-phet commented on #74
@amanda-phet - @pixelzoom and I discussed a few possibilities

1. He felt the box was a bit tight, so expanding the panel a bit vertically
2. Aligning the first 2 blue rows (mu and sigma) with the first two red rows (seems odd not to have these aligned right now)
3. Possibly moving the checkbox down a little so things are also not so tightly spaced

Any polishing here would be pending your approva

[2016-08-31 17:00] pixelzoom commented on #72
Thanks @amanda-phet. Closing.

[2016-08-31 17:01] pixelzoom commented on #74
@amanda-phet Does what @ariel-phet described above sound reasonable?

[2016-08-31 17:53] amanda-phet commented on #74
Sounds good to me! I didn't notice that the rows weren't aligned but they definitely should be.

After you make changes, can you just confirm that the "N = " readout is aligned on both screens?

[2016-08-31 18:14] amanda-phet commented on #64
Let's use ShadedSphereNode, but I'll send you new artwork for the screen icons and scene selection icon that match slightly better.

For example:
![screen shot 2016-08-31 at 12 13 28 pm](https://cloud.githubusercontent.com/assets/7852916/18140827/71f41f22-6f74-11e6-90d3-58bf8e27cae9.png)

[2016-08-31 20:15] pixelzoom commented on #74
The "N =" readout is definitely not aligned on both screens. And it's currently impossible to do that (accurately) in a language-independent way.

[2016-08-31 20:18] pixelzoom commented on #64
@amanda-phet Sounds good. The asset files that you'll need to update are:

https://github.com/phetsims/plinko-probability/blob/master/assets/plinko-screen-icons.ai
https://github.com/phetsims/plinko-probability/blob/master/assets/cylinder.ai

I can create the .png files from the .ai files.

[2016-08-31 20:52] amanda-phet commented on #74
I see. I think we just had the top of those two panels aligned so it didn't jump too much between screens. However, between dev.6 and dev.7 when the slider changes were happening, the rows/probability panel grew quite a bit and pushed the stats panel way down.

After you finish this issue can we try to adjust things a bit more?

[2016-08-31 21:31] pixelzoom commented on #74
Yes. I will need to determine a hardcoded (yuck) vertical offset for the "N=" panel on the Intro screen, such that it matches the position of the "N=" panel on the Lab screen.  It will be guaranteed to look correct only for English.  And if someone changes the Lab screen in the future, the alignment is likely to be lost.

[2016-09-01 16:14] amanda-phet commented on #64
I updated the .ai assets so they should be good to go.

[2016-09-01 16:58] pixelzoom commented on #64
@amanda Please review this dev version. If it looks OK, you can close this issue.
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.10/plinko-probability_en.html

[2016-09-01 16:58] pixelzoom commented on #64
@amanda-phet Please review this dev version. If it looks OK, you can close this issue.
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.10/plinko-probability_en.html

[2016-09-01 17:16] amanda-phet commented on #64
Looks great. Thanks!

[2016-09-01 17:16] #64 closed

[2016-09-01 17:36] pixelzoom commented on #73
OK, I will investigate using PlayPauseButton.

[2016-09-01 20:20] pixelzoom opened #76 "i18n of s mean"
StatisticsAccordionBox:

[code]

This should be handled in the strings file.  I.e.:

[code]

[2016-09-01 20:49] #76 closed

[2016-09-01 21:14] pixelzoom commented on #74
Here's the revised panel, reviewed with @amanda-phet and she said it looks good:

![screenshot_11](https://cloud.githubusercontent.com/assets/3046552/18184508/a6050ad2-7056-11e6-8247-b577a06361e1.png)

[2016-09-01 21:17] pixelzoom commented on #74
Here's the revised panel, reviewed with @amanda-phet and she said it looks good:

![screenshot_12](https://cloud.githubusercontent.com/assets/3046552/18184642/36cd822e-7057-11e6-88bf-f26899ea57d4.png)

[2016-09-01 21:33] pixelzoom commented on #74
Reviewed the changes with @ariel-phet also, looks good. Pixel polishing done.

I will now vertically align the 2 "N=" panels.

[2016-09-01 21:48] pixelzoom opened #77 "make "N=" panels line up when switching screens"
Requested by @amanda-phet in https://github.com/phetsims/plinko-probability/issues/74#issuecomment-243845881:

I replied:

@amanda-phet asked:

I replied:

[2016-09-01 21:48] pixelzoom commented on #74
Moved the "N=" alignment issue to https://github.com/phetsims/plinko-probability/issues/77.

Closing.

[2016-09-01 21:48] #74 closed

[2016-09-01 21:49] pixelzoom commented on #77
The Play control panel also jumps around.

[2016-09-01 21:58] pixelzoom commented on #77
@amanda-phet It's not perfect, but I improved the alignment of both the Play and "N=" panels when switching between screens. You can compare in these 2 dev versions:

Before changes:
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.10/plinko-probability_en.html

After changes:
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.11/plinko-probability

[2016-09-01 22:07] pixelzoom commented on #58
@ariel-phet Since @phet-steele is out, would you mind verifying this one?  The latest dev version is http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.11/plinko-probability_en.html.

[2016-09-01 22:14] pixelzoom commented on #26
I fairly confident that the 3D appearance of this button is not the primary source of the performance problem.  So I've revert the button to 3D for now.

[2016-09-01 22:17] pixelzoom commented on #73
Investigated and decided that this is not worth the trouble.  On the "Intro" screen, there is no pause button, so it's not easy to use `PlayPauseButton`, we'd still need `PlayButton`.   So I'll give `PlayButton` and `PauseButton` a quick cleanup, then close this issue.

[2016-09-01 22:41] pixelzoom commented on #73
Cleanup completed, closing.

[2016-09-01 22:41] #73 closed

[2016-09-01 22:42] pixelzoom commented on #73
Also identified a more efficient way of implementing the pause icon in `PlayPauseButton`, tracking in https://github.com/phetsims/scenery-phet/issues/268.

[2016-09-02 02:26] ariel-phet commented on #58
Checked on Win FF, chrome and on iPad2. Bug gone, sim extremely responsive on iPad2.

Closing

[2016-09-02 02:26] #58 closed

[2016-09-02 19:58] pixelzoom commented on #62
Fixed fundamental problem (2) above, so that BallsNode is made invisible when 'Ball' is not selected for the hopper mode. This also prevents `BallsNode.paintCanvas` from being called when "Path" or "None" is selected (which was in fact happening previously.)

[2016-09-02 20:04] pixelzoom opened #78 "HistogramNode doesn't require access to the entire model"
Current constructor signature is:

[code]

But it needs access to only 2 of the 9 public model fields:

model.histogram
model.numberOfRowsProperty

[2016-09-02 20:09] pixelzoom commented on #78
Never mind. Inner type `HistogramBarNode` accesses other things in the model -- some of which seem like they should be part of the `Histogram` model element.  But there's way too much here to attempt to untangle.

Closing.

[2016-09-02 20:09] #78 closed

[2016-09-02 20:48] pixelzoom opened #79 "bug in computation of default ball radius"
In BallsNode:

[code]

This is in fact not using the default number of rows, it's using the min number of balls. The default is 12, the min is 5.

So which is wrong - the implementation or the documentation?

[2016-09-02 20:50] pixelzoom commented on #79
I'm guessing that (for image quality) the correct thing to do is to use the largest ball radius.  Which would mean using the minimum number of rows.

[2016-09-02 20:53] #79 closed

[2016-09-08 15:28] pixelzoom opened #80 "problems with Ball model"
In Histogram:

[code]

This function indicates that `ball` has type `{IntroBall|LabBall}`, and it accesses `ball.binOrientation`.

Problems:

(1) `LabBall` has no `binOrientation` field.  So this is likely working only because `binOrientation` is undefined and is getting coerced to `0`.  Add an assertion to verify.

(2) If `ball` really is of type `{IntroBall|LabBall}`, then it should be of type `

[2016-09-09 15:43] pixelzoom commented on #80
Passing initial values via options turned was not possible, since those values are computed based on other things (e.g. radius) initialized by Ball constructor.  I considered passing in functions to compute the initial values, but that got complicated and ran into ordering/dependency issues.  So I decided to resolve this issue by simply documenting that these fields are owned by the supertype, and

[2016-09-09 15:43] #80 closed

[2016-09-09 15:44] pixelzoom commented on #77
@amanda-phet ping.

[2016-09-09 19:14] pixelzoom commented on #62
Fundamental problem (1) above was not possible to fix. Doing so would have involved fundamental changes to the model, would have surely destabilized the sim, and was ultimately not worth the effort.

Instead, I added a workaround, summarized as follows:

• The model `step` function is called on every animation frame, and it calls `step` for each ball.
• If a ball is already at rest in a bin, the `

[2016-09-09 19:54] pixelzoom commented on #62
The above fixes are demonstrated in this dev version:
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.12/plinko-probability_en.html

[2016-09-09 20:02] pixelzoom commented on #26
After the performance improvements in #62, repeatedly pressing the 3D Play button is still a problem. It results in a noticeable pause in animation of the balls and histogram.

[2016-09-09 20:03] pixelzoom commented on #62
The above fixes are demonstrated in this dev version:
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.12/plinko-probability_en.html

[2016-09-09 20:08] pixelzoom commented on #62
Tested on iPad2 (mobile Safari) and Mac OS X (Chrome, Safari, Firefox). With the exception of the Play button (#26) everything feels smooth and responsive.  Closing this issue.

[2016-09-09 20:24] pixelzoom commented on #48
After fixing #62, here's what I see with [1.0.0-dev.12](http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.12/). This is on the "Lab" screen, with continuous balls. Firefox 48.0.1, MacBook Pro (model 5,3), Mac OS X 10.11.6, 2.66 GHz Intel Core 2 Duo.  I used Activity Monitor to monitor CPU usage.

| Hopper mode | Firefox %CPU |
| --- | --- |
| Ball | 43% |
| Path | 43% |
|

[2016-09-09 20:29] ariel-phet commented on #48
As a quick data point @pixelzoom Function builder (slamming cards through the triple builder on the patterns screen) is around 1-3% CPU usage for me on Win 7 64 bit FF

[2016-09-09 20:32] ariel-phet commented on #48
1 or 2% for rutherford scattering, with around 15-20% total CP

[2016-09-09 20:38] pixelzoom commented on #48
@ariel-phet What %CPU do you see for this sim on Win 7 64 bit FF?

On Mac OS X, I see similar CPU issues with other PhET sims.

Rutherford Scattering: 97% on first screen, "nucleus" view, "Show traces" checked
Wave On A String: 110% when shaking the wrench
Color Vision: 45% on "RGB Bulbs" screen with all lights at 100%
Energy Skate Park Basics: 28% on first screen, skater in motion, pie chart and

[2016-09-09 20:42] ariel-phet commented on #48
Ah for Plinko on Win 7 64 bit (FF) I am seeing 5-10% total CPU for plinko just standing aorund or running (not much difference)

Sounds like we just need to move this to a general WTF is up with PhET and Mac + FF

I could also have @oliver-phet check what Mac + FF is in terms of our userbase (possibly very small) and perhaps we drop FF support for Mac

[2016-09-09 20:51] pixelzoom commented on #26
These dev versions are identical, with the exception of the play/pause button appearance:

3D: [1.0.0-dev.12](http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.12/plinko-probability_en.html) - animation slows down dramatically when pressing the play button repeatedly

flat: [1.0.0-dev.13](http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.13/plinko-

[2016-09-09 20:52] oliver-phet commented on #48
YTD:
Firefox (all OS): 8.06%
Firefox (Mac-only): 1.14%

[2016-09-09 21:02] pixelzoom commented on #26
To see if this is actually due to the 3D button appearance, I decided to add a similar 3D button to the first screen of rutherford-scattering. This bit of code was added to the end of RutherfordAtomScreenView:

[code]

A red 3D push button appears in the lower-left corner of the screen, as shown in the screenshot below.  With the 'nucleus' scene selected, the light "on", and "Traces" checked, I sa

[2016-09-09 21:11] pixelzoom commented on #26
I copied `PlayButton` to rutherford-scattering, so that I'm using the exact same button. This bit of code was added to the end of RutherfordAtomScreenView constructor:

[code]

Screenshot below shows Play button in lower-let corner.  And again, I saw no performance impact when pressing the button repeatedly/spastically.

![screenshot_17](https://cloud.githubusercontent.com/assets/3046552/18403022/

[2016-09-09 21:31] pixelzoom commented on #26
@ariel-phet How do you want to proceed with this one? I'm out of ideas.

[2016-09-09 21:31] pixelzoom commented on #26
@amanda-phet @ariel-phet How do you want to proceed with this one? I'm out of ideas.

[2016-09-09 21:33] pixelzoom commented on #48
So, it sounds like I should:

(1) Take a look at why "None" is so much more CPU intensive than "Path", but otherwise don't worry about it.

(2) Create a general issue. @ariel-phet Any thoughts on which repo would be the appropriate place for that issue?

[2016-09-09 22:52] ariel-phet commented on #26
The flat button....

I might have some ever so slight concern if this sim had many controls, but with so few controls it is just not really an issue.

It would be good to understand this issue at some point ideally, but since it seems pathologically tied to this sim, I am also not too concerned.

So - lets do two things:

1. Go with the flat button here

2. Make a Sun issue and mark it for develop

[2016-09-09 22:53] ariel-phet commented on #26
unassinging @amanda-phet since she already gave the green light to the flat button in https://github.com/phetsims/plinko-probability/issues/26#issuecomment-243486985

[2016-09-09 22:55] amanda-phet commented on #77
Looks good thank you!

[2016-09-09 22:55] #77 closed

[2016-09-09 22:55] ariel-phet commented on #48
@pixelzoom that is such a general issue, and since we don't know the root...I would say tasks or phet-info (dealers choice)

[2016-09-09 23:13] pixelzoom commented on #26
@ariel-phet It might be worth having @jonathanolson spend 15 minutes digging around in the DOM to see if there's anything obvious.  The DOM structure is still a mystery to me, so I'm unlikely to see the problem even if I'm looking directly at it.

[2016-09-09 23:16] pixelzoom commented on #26
@ariel-phet said:

OK. Not a blocking issue for publication.

Since this problem is "pathologically tied to this sim", I don't think a sun issue is appropriate. I'm going to leave this issue open, mark this issue for developer meeting, and we can brainstorm here.

[2016-09-09 23:17] ariel-phet commented on #26
@pixelzoom - I am curious about one WAG for an experiment. What if the play button were taken out of the control panel and put in the lower left such as in Rutherford (most of the time we have not had play buttons in control panels).

Note - I am **NOT** suggesting we change the design. But if that were an easy experiment to perform, might be worth a try. Or better yet, put a flat button in the co

[2016-09-09 23:20] pixelzoom commented on #26
@ariel-phet suggested:

Yes, worth a try.

[2016-09-09 23:30] pixelzoom opened #81 "Statistics panel should be closed by default"
Statistics panel should be closed by default.

Skype discussion:

[9/9/16, 5:24:56 PM] Chris Malley: AFAIK, yes. I didn't change it.
[9/9/16, 5:25:10 PM] Ariel Paul: OK, good to know
[9/9/16, 5:27:09 PM] Chris Malley: Hmmm...  It was closed by default up until 1.0.0-dev.5.  In 1.0.0-dev.6, it was open by default, and has been ever since.  All of that was before I started working on it.  So I could

[2016-09-09 23:39] pixelzoom commented on #81
Done. Closing.

[2016-09-09 23:45] pixelzoom commented on #48
Notes to self:

Do a Google search for "firefox cpu usage mac".

See https://support.mozilla.org/en-US/questions/1074722

[2016-09-09 23:48] pixelzoom commented on #62
Reopening because I had another thought about a different way to address this that is more MVC-like. Instead of setting a flag in the model, have an emitter in the model that fires whenever at least 1 ball has moved.  BallNode would observe this emitter and call invalidatePaint when it fires.

[2016-09-12 17:38] amanda-phet commented on #81
This change was done based on interviews. I apologize if there was not sufficient documentation. Can we change it back?

[2016-09-12 17:39] ariel-phet commented on #81
@amanda-phet yes, no problem, it was a one line change (sorry something I noticed and seemed to recall the original design had it closed, but good to know it work well opened in interviews!)

[2016-09-13 15:22] pixelzoom commented on #81
Yes we can change it back. @amanda-phet Please note this somewhere in the design document.

[2016-09-13 16:32] amanda-phet commented on #81
@pixelzoom I changed the design spec and added meeting notes.

[2016-09-13 16:37] pixelzoom commented on #81
Reverted to open by default. Closing.

[2016-09-13 16:37] #81 closed

[2016-09-13 19:22] pixelzoom commented on #62
There's also a bug in the previous approach. The erase button is not erasing the ball, it needs to call BallsNode.invalidatePaint.

[2016-09-13 19:43] pixelzoom commented on #62
New approach implemented in above commit.  The model now uses an Emitter to notify the view when the balls have moved, and thus need to be redrawn.  This approach conforms to the MVC pattern.  (Also fixed the issue with the erase button.)

Demonstrated in this dev version:
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.14/plinko-probability_en.html

Closing.

[2016-09-13 19:43] #62 closed

[2016-09-13 19:48] pixelzoom commented on #48
Perhaps 'None' is more CPU intensive than 'Paths' because it creates balls 3.3x more frequently? In LabModel, line 104:

[code]

[2016-09-13 19:59] pixelzoom commented on #48
https://github.com/phetsims/plinko-probability/issues/48#issuecomment-246801710 is indeed the case - 'None' is using more CPU than 'Path' because it's updating the histogram 3.3x more often.  I I use the same `ballCreationTimeInterval` (0.050) for 'Path' and 'None', then 'None' uses slightly less CPU than 'Path'.

But something else very odd - I'm no longer seeing the CPU usage problem!  With the

[2016-09-13 20:27] pixelzoom commented on #26
@ariel-phet I tried what you suggested in https://github.com/phetsims/plinko-probability/issues/26#issuecomment-246066462. See http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.15/plinko-probability_en.html.

In addition to the flat Play button in the upper-right panel of the Intro screen, this version has a 3D Play button in the lower-left corner. Pressing either Play but

[2016-09-13 20:40] pixelzoom commented on #26
I added query parameter "play3d", which uses the 3D appearance for the Play button.

Flat (default):
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.16/plinko-probability_en.html

3D:
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.16/plinko-probability_en.html?play3d

[2016-09-13 20:46] samreid commented on #48
I tested http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.5/plinko-probability_en.html with Firefox 48.0.1 on my Macbook Air running OS X 10.11.6 and observed CPU fluctuating between 20%-50% (out of a max of 200%), summing up both "Firefox" and "Firefox web content".  When I switched to a different tab, there was negligible CPU usage.  The CPU usage seems about the same w

[2016-09-13 20:47] pixelzoom commented on #48
Hmmm... What seems to have changed is what is displayed in Activity Monitor.  Now I'm seeing 2 processes: Firefox, Firefox Web Content.   And the big CPU usage has moved from Firefox to Firefox Web Content.  I didn't start Activity Monitor any differently than previous tests. And (I thought) that my previous tests were with the same FF 48.0.1.

[2016-09-13 20:51] pixelzoom commented on #48
From https://developer.mozilla.org/en-US/Firefox/Multiprocess_Firefox:

[2016-09-13 20:54] pixelzoom commented on #48
Multiprocess Firefox is apparently new in version 48.  From https://blog.mozilla.org/futurereleases/2016/08/02/whats-next-for-multi-process-firefox/:

[2016-09-13 20:58] pixelzoom commented on #48
From https://wiki.mozilla.org/Electrolysis:

My entry shows `Multiprocess Windows: 1/1 (Enabled by default)`, so looks like I've been selected to be a guinea pig.  Not sure how that happened, it wasn't anything that I recall opt'ing into.

[2016-09-13 21:00] pixelzoom commented on #48
"e10s" by the way, is Mozilla's appreciation for "Electrolysis", the project name for multiprocess FF.

[2016-09-13 21:02] pixelzoom commented on #48
Hmmmm...  I was going to hypothesize that there's a problem with FF's new multiprocess feature on  Mac.  But that feature appears to have been introduced in FF 48, and this issue was original reported for FF 47.

[2016-09-13 21:13] pixelzoom commented on #48
Tracking the general issue of high CPU usage on Mac+FF in https://github.com/phetsims/tasks/issues/695.

Closing this issue, since there's nothing sim-specific to be done.

[2016-09-13 21:13] #48 closed

[2016-09-13 21:18] pixelzoom commented on #26
Things we haven't done yet:

(1) Brainstorm as a group, schedule for Thu Sep 15. (https://github.com/phetsims/plinko-probability/issues/26#issuecomment-246062539)
(2) Ask @jonathanolson to have a look. This would likely be more efficient than (1). (https://github.com/phetsims/plinko-probability/issues/26#issuecomment-246065836)

@ariel-phet How do you want to proceed? This is the only open issue b

[2016-09-13 23:28] ariel-phet commented on #26
@pixelzoom - lets proceed with dev testing and a flat button if this is the only remaining issue.

I will ask @jonathanolson to take a look, but he can do that regardless of dev testing. As we have noted this issue appears to be pathological to this sim, you have put quite a bit of intellectual effort into fixing it, and the flat bottom is a completely reasonable solutoin.

[2016-09-14 00:00] pixelzoom commented on #26
@jonathanolson If you have time to take a look... You can switch between flat and 3D buttons using a query parameter, as described in https://github.com/phetsims/plinko-probability/issues/26#issuecomment-246816719.

[2016-09-14 00:01] pixelzoom commented on #26
@jonathanolson If you have time to take a look... You can switch between flat and 3D buttons using a query parameter, as described in https://github.com/phetsims/plinko-probability/issues/26#issuecomment-246816719.  To reproduce the problem, run the sim on iPad2, go to the "Intro" screen, press the Play button repeatedly.

[2016-09-14 17:08] pixelzoom opened #82 "create sim screenshot"
We need a screenshot for this sim's webpage etc.

@amanda-phet Please send me a screenshot showing how you'd like the final screenshot to look. Then assign back to me and I'll create the final screenshot.

[2016-09-14 17:11] pixelzoom opened #83 "Lead designer "sign off""
@amanda-phet Please complete these items in the [Plinko Probability master checklist](https://github.com/phetsims/plinko-probability/issues/12) before the simulation begins RC testing.

- [ ] **Lead designer "sign off"** (Date: //)
  - [ ] Performance acceptable
  - [ ] Carefully review ?showPointerAreas
  - [ ] No new feature requests

[2016-09-14 17:12] pixelzoom commented on #83
Labeling with high priority, since the sim is now in dev testing and is likely to be in RC testing before the end of this week.

[2016-09-14 20:01] amanda-phet opened #84 "allow minimum rows to go to "1" and address dependency on current minimum of "5""
One of our collaborators who observed sims in the classroom this summer had the suggestion to allow the board to go down to a single peg. I agree with him that it would really emphasize the concept of binary probability, and would allow teachers to more flexibly teach this concept (when they are usually teaching it with coins that don't have an adjustable probability).

Is the code structured in a

[2016-09-14 20:37] pixelzoom commented on #84
I'm sorry to report that very bad things happen if I change the minimum number of rows to 1.   Some examples:

First, the size of the pegs and placement of their shadows is mess up.  Here's what the "Intro" screen looks like at startup ("Lab" screen is similar):

![screenshot_188](https://cloud.githubusercontent.com/assets/3046552/18528795/a94af374-7a87-11e6-984c-06b499b15717.png)

Here's what the

[2016-09-14 20:39] pixelzoom commented on #84
If you want this change, I'd estimate somewhere in the neighborhood of 20-30 hours ferret out all the problem, decide how to address them, and adjust the implementation.  And we should stop dev testing immediately.

[2016-09-14 20:43] pixelzoom commented on #84
Btw... The problems with the size and location of pegs and their shadows occurs for any number of rows < 5.  So there's something in the implementation (multiple somethings, actually) that are dependent on the value '5'.  This is a bad thing, but will be nontrivial to fix.

[2016-09-14 20:46] pixelzoom commented on #84
Ugh. The problems with the size and location of pegs and their shadows occurs also occurs if the minimum number of rows > 5 !!  I'll add a note in the code so that someone doesn't step on this landmine.

[2016-09-14 20:54] amanda-phet commented on #84
OK, that is a bummer... it is probably not worth 20-30 hours at this point!

@ariel-phet @kathy-phet do you agree?

[2016-09-14 20:56] ariel-phet commented on #84
@amanda-phet I don't think this would be appropriate at this time considering @pixelzoom's schedule

However, having the code written in a way that depends on the minimum value of 5 is problematic and we should address. I think this would be something we could consider for Jesse once he is done Pendulum Lab (which is next for him after he finishes GAO). He appreciates "smallish" projects.

At wors

[2016-09-14 20:58] amanda-phet commented on #84
Sounds good to me.

Unassigning.

[2016-09-14 21:01] ariel-phet commented on #84
@pixelzoom thanks for the prompt investigation

[2016-09-14 22:36] kathy-phet commented on #84
Thanks for investigating. And I agree - defer, but we should probably log a future issue too, to refine the code regardless. Jesse sounds like a good candidate at some point if it seems good to him.

[2016-09-14 22:38] pixelzoom commented on #84
@kathy-phet said:

This issue will suffice.

[2016-09-14 22:45] kathy-phet commented on #84
ok

[2016-09-15 16:21] amanda-phet commented on #83
Done.

[2016-09-15 16:21] #83 closed

[2016-09-15 16:30] amanda-phet commented on #82
<img width="941" alt="screen shot 2016-09-15 at 10 28 15 am" src="https://cloud.githubusercontent.com/assets/7852916/18558141/360f32d2-7b2f-11e6-8b73-5ea869904fb3.png">

Something like this where the balls are in motion but the red bars don't line up exactly with the ideal bars. 6 rows and p=0.31.

[2016-09-15 16:32] pixelzoom commented on #83
👍

[2016-09-15 18:24] pixelzoom commented on #84
9/15/16 dev meeting: Make a note in the code review checklist to monkey around with ranges during review, to check for this kind of issue.

[2016-09-15 19:51] phet-steele opened #85 "When balls are removed from the board, should we still count them towards total N?"
Very similar to #27, and may be a consequence of how it was handled.

1. Lab screen, select single ball play mode with "Ball" hopper mode. From here it may be useful to have 5 rows and either 0 or 1 as the binary probability. Additionally, use the `?maxBalls` query with a low value (25) so there is less waiting time.
2. Play one ball at a time up to one below your set max (24). Read the entire nex

[2016-09-16 02:05] pixelzoom commented on #85
Yes, I noticed this when testing the "Out of Balls" dialog.  The code that keeps track of the number of balls is certainly a bit suspect, and not at all obvious how/where to fix this.  That said...

The max number of balls is 9999, so few people are likely to see the dialog. And if they do see the dialog, they won't know whether the max is 9998 or 9999 - they simply know that they're out of balls.

[2016-09-16 02:29] ariel-phet commented on #85
I would be fine punting on this one, I don't think it is likely to cause anyone confusion.

I could see a teacher letting the sim run in the background, and saying "lets come back to this later" and let it get to max. So some people might get to the max...but the actual value of the max is not actually important. So it seems like this is an edge case we don't need to address at this time.

Perhaps

[2016-09-16 02:39] amanda-phet commented on #85
I would definitely expect a teacher to let the sim run in the background so that they can demonstrate the effect of a large N. However, the goal of the max number of balls is simply to avoid a bin with more than 9999 balls (due to the size of the text decreasing with each additional digit). As long as users can run the sim to the max number of balls without running into a real problem, I am ok wit

[2016-09-16 02:39] amanda-phet commented on #85
(@ariel-phet what should I do with this issue?)

[2016-09-16 14:44] ariel-phet commented on #85
@amanda-phet removing your assignment, we will leave this issue until we revisit the number of rows

[2016-09-16 15:45] phet-steele opened #86 "[Edge] Overflowed balls are hidden"
Maybe this is the first time Edge does something better? With regards to the occasional "overflow" of the cylinders (see #68), generally I've seen those overflowed balls remain visible when switching the histogram to count mode:

Chrome:
![overflowballs](https://cloud.githubusercontent.com/assets/5863899/18591554/54a1f83a-7bf0-11e6-93cf-af15e17bd43b.PNG)

However! Edge hides those balls:

Before:

[2016-09-16 15:45] phet-steele opened #87 "[Edge] Red line extends along the bottom of the histogram"
Both screens, any histogram mode other than the cylinders, and regardless of any sim state. This red line lays across the bottom of the bin (regardless of the contents of the bin). It IS covered by the ideal graph when it is enabled.

![edgered](https://cloud.githubusercontent.com/assets/5863899/18590555/8bf6fd52-7bec-11e6-856e-43996a5e2a1a.PNG)

Seen on Edge 38.14393.0.0, for phetsims/tasks/issue

[2016-09-16 17:00] pixelzoom commented on #85
OK, thanks. Deferred for 1.0 release, to be addressed in a future release.

[2016-09-16 17:02] pixelzoom commented on #86
Hmmm... When switching to the histogram mode, the entire node that draws the balls should be made invisible.  So any "overflow" balls should not be visible.  I'll investigate, but might need @phet-steele's assistance since I don't have an Edge test machine.

[2016-09-16 17:03] pixelzoom commented on #86
Oh wait... The overflow balls remain visible on Chrome, not Edge, so I should be able to reproduce and debug this myself.

[2016-09-16 17:27] pixelzoom commented on #86
I said:

This is not the case. If we did this, then we wouldn't see any balls falling through the Galton board.

[2016-09-16 17:44] pixelzoom commented on #86
`BallsNode.paintCanvas` was already set up to not draw balls that were in bins when histogram mode was anything other than 'balls'.   The problem was that `BallsNode.invalidatePaint` was not being called when `histogramModeProperty` changed, so the balls remained the screen.  I fixed that (2 lines of code), and it seems to be working fine.

To facilitate testing of this, I added the `maxBallsIntro

[2016-09-16 17:51] pixelzoom commented on #87
@phet-steele said:

Does there need to be at least 1 ball in a bin (as in the screenshot that you provided), or is this read line present when all bins (and the histogram) are empty?

[2016-09-16 17:54] phet-steele commented on #86
This appears to be working beautifully, @pixelzoom!

[2016-09-16 17:56] pixelzoom commented on #86
Bueno. Closing.

[2016-09-16 17:56] #86 closed

[2016-09-16 18:02] phet-steele commented on #87
@pixelzoom there does not need to be anything in the bin. I put one in just to demonstrate that it remains when the histogram is populated. There is no red line when the histogram is in ball mode. From start-up for example:

![edgeredstart](https://cloud.githubusercontent.com/assets/5863899/18596211/48b9864a-7c05-11e6-9835-d8d02f2e3626.PNG)

[2016-09-16 18:06] pixelzoom commented on #87
Inspecting the code (HistogramNode), a bar (rectangle) is created for every bin, and the height of the bars is adjusted. If a bin is empty, this results in a scenery.Rectangle whose height is zero. Since each bar is stroked, I suspect that what we're seeing is Edge's attempt to render a zero-height rectangle. The fix for this is to make zero-height rectangles invisible.

[2016-09-16 18:15] pixelzoom commented on #87
I attempted to fix this by making any zero-height bars invisible.  Since I don't have an Edge test machine, I'll need @phet-steele's assistance in verifying whether this fixed the issue.  @phet-steele please test drive this dev version:

http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.18/plinko-probability_en.html

[2016-09-16 18:21] pixelzoom commented on #87
@phet-steele When you test this, also be on the lookout for any collateral damage to the histogram - e.g. non-zero bars that don't appear, bigfoot sightings, etc.

[2016-09-16 18:46] phet-steele commented on #87
I don't about you @pixelzoom, but everything looks fine to me.

![edgenored](https://cloud.githubusercontent.com/assets/5863899/18597463/6663e306-7c0b-11e6-9954-9c947a83209e.PNG)

[2016-09-16 18:49] pixelzoom commented on #87
Fantástico. Closing.

[2016-09-16 18:49] #87 closed

[2016-09-16 18:50] pixelzoom commented on #87
Related to https://github.com/phetsims/tasks/issues/696.

[2016-09-16 20:21] pixelzoom commented on #82
[Master checklist](https://github.com/phetsims/plinko-probability/issues/12) indicates these requirements for screenshot:

[2016-09-16 20:30] pixelzoom commented on #82
To "PhET Developers" on Skype:

[2016-09-16 20:30] pixelzoom commented on #82
Screenshot can be done out of either master or 1.0 branch, they will look the same.

[2016-09-16 21:02] jessegreenberg commented on #82
@pixelzoom screenshot taken and committed to master, let me know if anything needs to be changed in about the image, I can take another.

[2016-09-16 21:49] pixelzoom commented on #82
Thanks @jessegreenberg, looks good to me.

@amanda-phet Does this look OK to you?
https://github.com/phetsims/plinko-probability/blob/master/assets/plinko-probability-screenshot.png

[2016-09-16 22:47] BryceAG opened #88 "stringTest=xss doesn't load"
Test device:
Bates

Operating System:
Windows 7

Browser:
Chrome, Firefox, and IE11

Problem description:
When testing stringTest=xss, the page doesn't load, and will not allow you to go back in history to a previous working string test or base rc test. if there is another tab with the rc test open, that tab will also stop responding.

Steps to reproduce:
add ?stringTest=xss to the URL

Severity:

[2016-09-19 16:59] phet-steele commented on #88
Also seen on Mac OSX 10.11.6 Chrome. The dev tools are not revealing anything helpful (to my limited knowledge at least).

[2016-09-19 17:08] phet-steele opened #89 "QA Credits"
Please add the following team members to the QA credits:

- Bryce Griebenow

@pixelzoom, please keep this open until the sim is published in case additional people need to be added, you never know!

[2016-09-19 17:16] pixelzoom commented on #89
This was supposed to have been completed in https://github.com/phetsims/plinko-probability/issues/32.  But I understand that additional testers may be added during RC process. Just keep in mind that it now requires changing credits in 2 branches (master and 1.0).

[2016-09-19 17:19] phet-steele commented on #89
@pixelzoom this is precisely what happened with Bryce 😄

[2016-09-19 17:27] pixelzoom commented on #89
Related to https://github.com/phetsims/tasks/issues/702

[2016-09-19 17:38] pixelzoom commented on #88
Reproduced.  My browser (Chrome on Mac) also becomes unresponsive and must be killed and restarted.

Other sims seem to have a similar problem, e.g.:
https://github.com/phetsims/atomic-interactions/issues/58

[2016-09-19 18:14] pixelzoom commented on #88
In a Skype discussion with @jbphet and @jonathanolson, it was pointed out that `stringTest=xss` is considered successful if the sim does not redirect.  So this sim is technically passing the test, and I'm closing this issue as "won't fix".

If was also noted that the string substituted for `stringTest=xss` contains HTML markup, and that can cause problems depending on what scenery/scenery-phet/sun

[2016-09-19 18:14] #88 closed

[2016-09-19 18:15] pixelzoom commented on #89
I'm going to wait until testing is completed to add anyone, since this is something that can be done once without requiring a test cycle.

[2016-09-19 18:24] phet-steele opened #90 "Balls frozen on board"
Easiest setup to repro:
1. Lab screen, 26 rows, 0.5 probability.
2. Make sure the hopper is in Ball mode and you have continuous play mode selected.
3. Press play, let the balls drop for a few seconds.
4. Press pause, and while balls are still on the board, change the probability.

The balls will freeze in place. Further interaction (erasing, changing # of row, pressing play, etc.) will properly r

[2016-09-19 18:24] pixelzoom commented on #71
Seems like this statement was probably referring to the model-view transform, so I rewrote that portion of the implementation notes.

Closing.

[2016-09-19 18:24] #71 closed

[2016-09-19 18:53] pixelzoom commented on #90
This is due to yet-another missing call to `BallNodes.invalidatePaint`.  The root cause is sloppiness and redundancy in the model's `reset` and `erase` functions.  I was trying not to touch that stuff, but I will now bite the bullet and clean it up.

[2016-09-19 19:01] pixelzoom opened #91 "inconsistent field names in cylinderInfo data structure"
IntroModel defines this data structure that describes the bins (cylinders):

[code]

Very inconsistent to have `cylinderWidth` and `height`.  Recommended to rename `height` to `cylinderHeight`.

[2016-09-19 19:02] pixelzoom commented on #91
Not a prerequisite for 1.0.0 publication.

[2016-09-19 19:24] pixelzoom commented on #90
This issue is fixed in master and 1.0 branches.  This will need to be tested in another RC version.  In the meantime, @phet-steele you may verify in [1.0.0-dev.19](http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.19/plinko-probability_en.html).

[2016-09-19 19:27] pixelzoom commented on #91
I'll probably knock this one off immediately after publishing 1.0.0.

[2016-09-19 20:16] phet-steele commented on #90
This looks good, @pixelzoom

[2016-09-19 21:14] pixelzoom commented on #90
Great, closing.  We'll revisit in the next RC, and can reopen if there's a problem.

[2016-09-19 21:14] #90 closed

[2016-09-20 15:31] amanda-phet commented on #82
Yes it does!

[2016-09-20 15:33] #82 closed

[2016-09-20 15:37] phet-steele opened #92 "[Edge] Ball motion performance"
The below Skype chat with @pixelzoom should speak for itself, but here is the test I ran.

Using this link, http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-rc.1/plinko-probability_en.html?maxBallsLab=100, set the rows to max and the binary probability to 1 (or 0). Keeping the hopper in Ball mode and selecting continuous play, I recorded the time it took until the "Out of Bal

[2016-09-20 16:29] pixelzoom commented on #92
My recommendation is to ignore this for 1.0.0 release, because:

(1) The performance is generally acceptable on Edge.
(2) Edge represents a small percentage of PhET usage.
(3) Users are unlikely to compare animation performance between platforms.
(4) When the "Out Of Balls!" dialog is open, the user will be occupied with the dialog and not the fact that any balls still on the board may be moving a

[2016-09-20 16:33] ariel-phet commented on #92
@pixelzoom I think we are fine leaving this as an open issue, and considering addressing on a later release.

Marking priority deferred

[2016-09-20 16:36] amanda-phet commented on #92
I agree that we should defer this issue. I'm not too concerned about the impact of the performance in this case.

[2016-09-20 16:56] brroberts1231 opened #93 "Artifacts appear when dragging sliders on IE"
For phetsims/tasks#702
Test device: Bates

Operating System: Win 7

Browser: IE 11

Problem description: Artifacts appear when you drag either of the sliders on the lab screen from the left to the right. Only happens when 'Ideal' is checked.

Steps to reproduce: Check the Ideal checkbox, drag either slider all the way to the left, then drag it right.

Severity: low

Screenshots:
![plinko1](https:/

[2016-09-20 18:02] BryceAG commented on #93
reproduced on windows 8 IE11, although it doesn't require ideal to be reset. Also the lines disappear when the cursor comes off the slider.

[2016-09-20 18:15] BryceAG opened #94 "Sound doesn't play"
Test device:
Schrodinger

Operating System:
Windows 8

Browser:
IE 11, Firefox

Problem description:
sound does not play for either the intro or lab section

Steps to reproduce:
load the sim on IE11 or firefox for windows 8, click enable sound. It plays sound correctly for chrome, so the speakers do work.

Severity:

Screenshots:

Troubleshooting information (do not edit):
Name: ‪Plinko Probabilit

[2016-09-20 20:02] pixelzoom commented on #93
@phet-steele Does this appear with other sims that use HSlider, either in master or published?

[2016-09-20 20:02] pixelzoom commented on #93
And does the issue manifest only a some browser window sizes, or all sizes?

[2016-09-20 20:05] pixelzoom commented on #94
@BryceAG Do you know if this problem also occurs on Windows 7 with IE11 and FF?

[2016-09-20 20:22] phet-steele commented on #93
I don't often see it, but is this the same issue (resolved)? https://github.com/phetsims/under-pressure/issues/142

[2016-09-20 20:42] pixelzoom commented on #93
I inspected the commit for phetsims/under-pressure#142, and I have no idea how that commit fixed this issue.  A `require` statement was deleted to fix a lint error, and `maxWidth` setting was deleted for an AccordionBox - neither of those should have affected an HSlider.

[2016-09-20 20:47] pixelzoom commented on #93
I suspect that in  phetsims/under-pressure#142, the HSlider is inside of an AccordionBox. I suspect that removing the `maxWidth` setting for the AccordionBox coincidentally fixed the issue. But I have no idea why that would be the case.   And in Plinko, there is no AccordionBox involved, and no use of `maxWidth` for the HSliders or Panel that contains them.

[2016-09-20 20:51] pixelzoom commented on #93
@phet-steele My other question in https://github.com/phetsims/plinko-probability/issues/93#issuecomment-248417323 was:

[2016-09-20 21:32] phet-steele commented on #94
Closing, audio actually works. See below for details. Pinging @jessegreenberg on Skype for his thoughts.

[3:11:43 PM] Steele Dalton: The audio actually works in all 6 browsers (Win 7 & 8)
[3:12:29 PM] Steele Dalton: I had to go into the task manager on the Win 8 machine and end something called the "Windows Audio Device Graph Isolator", or something close to that name, then everything worked
[3:1

[2016-09-20 21:41] jessegreenberg commented on #94
@phet-steele I am not aware of extensive accessibility work on that device, what a11y work was done?  If it is just the installed screen readers, they shouldn't be interfering with anything unless explicitly turned on.  In that case you would have heard it talking to you while testing.

[2016-09-20 21:52] phet-steele opened #95 "[IE11] Rate at which the audio plays is slow"
Really nothing much to say other than IE11 plays audio slower than other browser. Balls still appear to be dispensed at the same rate, and they fall down the board just the same, too. @ariel-phet I'm willing to say this is not a huge issue.

Sample if you don't have IE11 handy:
https://drive.google.com/file/d/0B3HJopSo_QqLQlNHUVJ0SEt2Q3ZTM29fODV1S2kwTVBXRVJN/view?usp=sharing

Seen on Win 7 & 8. Fo

[2016-09-20 21:55] phet-steele commented on #94
Had a Skype chat, @jessegreenberg will check out the device.

[2016-09-20 21:59] jessegreenberg commented on #94
In chat, it sounds like ZoomText might have been on in a background process.  I am not familiar with this AT, but it does have a screen reader in addition to a magnifier, so it might have been hogging audio.  I will try to reproduce with readers turned on, but if I can't I'll close the issue.

[2016-09-20 22:36] pixelzoom commented on #93
In https://github.com/phetsims/under-pressure/issues/142#issuecomment-248451321, @aadish said:

So the hypothesis is that using scenery's maxWidth features cause artifacts with HSlider in IE. @jonathanolson is there any reason to suspect that this is the case?

[2016-09-20 22:36] pixelzoom commented on #93
@ariel-phet I've labeled this as high priority, and @jonathanolson's input is needed.

[2016-09-20 23:07] ariel-phet commented on #95
@phet-steele good to note, but agreed, not a huge issue. Marking won't fix.

[2016-09-21 01:10] jessegreenberg commented on #93
I just saw this in forces-and-motion-basics on Windows 10 Chrome 53.0.2785.116, but for a different draggable node:
![trailing](https://cloud.githubusercontent.com/assets/6396244/18694080/64dd7de2-7f64-11e6-97ea-17664cab998a.PNG)

Now I am having a very hard time reproducing this.  The window for the above image happened to be smaller because the developer console was open.  When I increased the w

[2016-09-21 04:02] jonathanolson commented on #93
maxWidth itself is probably just causing things to be in slightly different positions, or with different sizes. Usually this crops up when rendering SVG and the browser doesn't quite clear enough of the existing pixels to properly repaint (by mis-estimating the size of what is drawn).

Before, adding something that tricks the browser into clearing and redrawing a slightly larger area has worked. I

[2016-09-21 07:28] jonathanolson commented on #93
A brief test (https://github.com/phetsims/sun/commit/f411f885d32adef5fe82b98932901517630d3c1f, adding a transparent unpickable rectangle on the slider) seems to prevent the artifacts in my testing.

@pixelzoom, thoughts on a more long-term solution?

[2016-09-21 16:02] pixelzoom commented on #93
@jonathanolson said:

Do you mean a rectangle on the entire slider or on the slider's thumb?  Presumably this is something that I'd need to do in common code, which I don't think is a good idea.  So I don't think this is a viable workaround.

Well, we certainly can't be adding transparent rectangles over everything that moves. And since I have no understanding of scenery internals, I can't suggest

[2016-09-21 16:03] pixelzoom commented on #93
@phet-steele Awaiting your reply to https://github.com/phetsims/plinko-probability/issues/93#issuecomment-248430221.

[2016-09-21 16:04] pixelzoom commented on #93
Labeling for developer meeting, since (as demonstrated in https://github.com/phetsims/plinko-probability/issues/93#issuecomment-248482366) this problem is not specific to this sim.

[2016-09-21 16:09] pixelzoom commented on #93
@ariel-phet Please indicate whether this is an issue that needs to be addressed for the 1.0.0 release.

[2016-09-21 16:18] ariel-phet commented on #93
@pixelzoom - I can reproduce on IE, but only at certain window sizes.

This issue does not need to be addressed for the 1.0.0 release

@pixelzoom it seems this issue for dev meeting should be moved to another repo? Scenery or sun? (wherever maxWidth lives) and marked for dev meeting?

[2016-09-21 16:27] pixelzoom commented on #93
I'm going to defer creating the general issue until we discuss at developer meeting, since that may shed additional light on the nature of the general issue.

[2016-09-21 16:30] ariel-phet commented on #93
@pixelzoom sounds good

[2016-09-22 16:30] samreid commented on #93
This is a browser bug, the best long term solution will be to create a minimal isolated reproducible test case, record video and report to the browser vendors.  We can add a workaround for the short term as well (adding transparent rectangles where necessary has worked previously).

[2016-09-22 18:47] phet-steele opened #96 "[Safari 10] Large heap memory"
Taking heap snapshots on Safari 10 reveal this sim is pretty large. This does not seem to affect performance, but it does kick on my fan:

||Home screen after load|After visiting both screens (no interaction)|
|---|---|---|
|Chrome|24.9 MB|24.4 MB|
|Safari 10|55.35 MB|85.18 MB|

Inspecting the Safari snapshot (the one that is 55.35 MB), @pixelzoom hypothesized that it looks like there are two canv

[2016-09-22 19:14] pixelzoom commented on #96
The fact that the 2 canvases are the same size (21.69 MB) looks suspicious, since the 2 CanvasNodes used in this sim have different bounds.  @jonathanolson is it possible that Safari 10 is ignoring canvas bounds?

[2016-09-22 19:15] pixelzoom commented on #96
It would be interested to see what the sizes of these canvases is for Safari 9.  I haven't figured out how to do this.

[2016-09-22 19:19] phet-steele commented on #96
@pixelzoom I think the heap snapshot feature is new in Safari 10. We'll have to sleuth for a way to see memory in Safari 9.
https://developer.apple.com/library/content/releasenotes/General/WhatsNewInSafari/Articles/Safari_10_0.html#//apple_ref/doc/uid/TP40014305-CH11-DontLinkElementID_27

[2016-09-22 19:24] pixelzoom commented on #93
Reopened and tracking in phetsims/scenery#80.

[2016-09-22 19:25] pixelzoom commented on #93
This issue will not be addressed for 1.0.0 release, marking as deferred.

[2016-09-23 15:45] phet-steele commented on #96
@pixelzoom @jonathanolson  I'm inclined to think this is not a new problem in Safari 10, we just now have updated dev tools to be able to notice. I compared activity monitors of a sim running in Safari 9 to one running in 10. They had (practically) identical CPU and memory usage. Seemingly this has always been happening without any sort of negative impact reported by our users.

[2016-09-23 17:02] jonathanolson commented on #96
I currently don't have Safari 10 available to test with, but looking through the code and other browsers (Chrome, Safari 9), I'm really not sure what those Canvases from that Safari snapshot could be.

Scenery's two Canvases do appear to be sized properly (presumably around the canvasBounds). Additionally, those Canvases have ids that are like "scenery-canvas544", and definitely would never have i

[2016-09-23 18:37] pixelzoom commented on #96
@jonathanolson said

@phet-steele Is this something that you can provide?

[2016-09-23 19:18] phet-steele commented on #96
@pixelzoom yes, next time I am at a Mac.

[2016-09-23 21:39] pixelzoom commented on #94
Not a prerequisite for 1.0.0 publication, marking as deferred.

[2016-09-23 21:40] pixelzoom commented on #95
Discussed with @ariel-phet, changing the label to "deferred", should be revisited.  But not a prerequisite for 1.0.0 publication.

[2016-09-23 21:44] pixelzoom commented on #96
@phet-steele Please take a look at a couple of other PhET sims, and see if there is a similar heap-size issue, and whether these 2 mystery canvases are present.  That will tell us whether this is a general issue.

[2016-09-23 21:45] pixelzoom commented on #96
Priority set to "top", since RC test 1.0.0-rc.1 is complete, and this is the only issue that has not been addressed or deferred.

[2016-09-24 06:06] jonathanolson commented on #96
Understood, let me know if there's anything else I can do now. I'm mostly just waiting on the Safari 10 snapshots and deltas.

Just briefly checked, Chrome goes from 12.3MB => 12.6MB and Firefox 159.18 => 159.90MB. Allocations are related to Scenery Instance objects being created, doesn't look like anything concerning or sim-specific.

[2016-09-26 16:32] phet-steele commented on #96
@pixelzoom it's hard to say what's happening. Last Thursday I would have said that every sim has this problem. Each sim I tried had huge snapshots with 2 duplicate canvases. Today, however, I can't seem to get the same results. Let's see what can be deduced from the below snapshots of Plinko first.

Snapshots 1, 2, & 3 go in the order of Home screen --> Intro Screen --> Lab Screen respectively.

I

[2016-09-26 17:53] pixelzoom commented on #96
@ariel-phet would like 2 questions answered before proceeding with the next RC test cycle:

(1) Is there a problem here that's specific to plinko-probability?
(2) Is there a general problem here that might affect all sims?

I am not familiar enough with the DOM structure to understand (or speculate on) what @phet-steele is reporting. @phet-steele and @jonathanolson can you please collaborate direc

[2016-09-28 17:11] phet-steele commented on #96
I talked with @jonathanolson. To answer both questions at once, no this is not sim specific. It is a general problem with how Safari (old & new) is allocating the memory at sim start. Without myself really knowing the science behind this issue, the fact of the matter is that this memory is having no negative side effects. Furthermore, it's been happening all along in older Safari versions with no

[2016-09-28 17:13] ariel-phet commented on #96
@pixelzoom, since not a blocking issue, lets forge ahead on Plinko

[2016-09-28 17:24] pixelzoom commented on #96
Since this is no sim-specific, @ariel-phet has instructed me not to address it for 1.0.0 release.

Closing this issue, tracking as a general issue in https://github.com/phetsims/scenery/issues/570.

[2016-09-28 17:24] #96 closed

[2016-09-28 17:42] phet-steele commented on #89
@pixelzoom, after adding Bryce, the QA credits will be accurate.

[2016-09-28 18:05] pixelzoom commented on #89
QA credits updates in master and 1.0 branches, will appear in 1.0.0-rc.2.  Closing.

[2016-09-28 18:05] #89 closed

[2016-09-28 21:51] jessegreenberg commented on #94
Testing on Schrodinger 9/28/15.  I cannot fully test with ZoomText turned on, the free trial has expired.  It is likely that it has been expired since this issue was opened.  Even though I cannot open the ZoomText app, some associated support module ( ZoomText UAC Support Module) is running in the background, possibly what @phet-steele noticed.  When I tried to open ZoomText, several warning dialo

[2016-09-28 21:51] #94 closed

[2016-09-29 00:16] pixelzoom opened #97 "publish 1.0.0"
From https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md, with steps that are not applicable omitted.

**Steps to publish a public version**

Public versions are deployed to phet-server.int.colorado.edu at http://phet.colorado.edu.
By default, publishing a public version also deploys a dev version.

To publish a public version:

- [x] Update (if needed) or create a

[2016-09-29 17:05] pixelzoom commented on #26
Not a prerequisite for 1.0.0.

[2016-09-29 19:26] pixelzoom commented on #97
@amanda-phet Plinko Probability 1.0.0 has been published to the website. Please complete the check list item above to make the sim and project visible.

When you're done, please assign this issue back to me.

[2016-09-29 21:28] pixelzoom commented on #91
1.0.0 has been published, so this can now be addressed.

[2016-09-29 21:33] #91 closed

[2016-09-30 16:45] amanda-phet commented on #97
The item above says

I'm not sure how long it is supposed to take but I haven't seen it show up yet and I've done a hard refresh on my browser, so I'll go ahead and reach out.

[2016-09-30 17:02] amanda-phet commented on #97
I see it now!

[2016-09-30 18:22] pixelzoom commented on #97
Yeah! Closing.

[2016-09-30 18:22] #97 closed

[2016-09-30 18:23] pixelzoom commented on #12
@ariel-phet @amanda-phet 1.0.0 is published. Assigning this to you to complete the remaining checklist items.

[2016-10-06 07:28] jonathanolson commented on #26
Since this is deferred, dropping priority. Probably related to gradients being loaded/unloaded if I need to investigate.

[2016-10-25 19:16] ariel-phet commented on #12
@amanda-phet I am all done here, looks like the sim primer is really the only thing remaining (unless an activity or two can shift over)

[2016-10-25 20:50] amanda-phet commented on #12
Always the sim primer... can we remove that from the master checklist? It's unlikely that a primer will be ready close to a sim's publication date, and it would be nice to be able to close this issue.

[2016-10-25 20:52] pixelzoom commented on #12
You can always break out uncompleted items into separate issues, then close this issue.

[2016-10-25 22:41] ariel-phet commented on #12
@amanda-phet  I think @pixelzoom makes a good point. I don't really want to remove it from the checklist, since this is supposed to be a true list of everything the needs to be done associated with the sim. I will make an issue for the sim primer and close this one.

[2016-10-25 22:42] ariel-phet opened #98 "Create sim primer"
This sim needs a primer at some point. Assigning to @amanda-phet at low priority since there are plenty of more pressing needs.

[2016-10-25 22:43] ariel-phet commented on #12
Primer issue here: https://github.com/phetsims/plinko-probability/issues/98

Closing

[2016-10-25 22:43] #12 closed

[2017-04-13 17:05] amanda-phet commented on #84
Quick ping- here is the issue that @pixelzoom estimated 20-30 hours to address. This sim will be the next priority the math grant.

[2017-04-14 01:34] pixelzoom commented on #84
@ariel-phet @amanda-phet I reviewed this issue again, and must retract my statement earlier today that fixing this would probably be "a quickie".   Looks like it's going to be more involved, and I won't know exactly how much time until I'm well into fixing it.

[2017-04-14 13:50] veillette commented on #84
I'll take a look at it.

[2017-04-14 14:27] veillette commented on #84
Setting the minimum number of rows to 1, for screen intro

![image](https://cloud.githubusercontent.com/assets/7633344/25045922/9775c784-20fc-11e7-9bf7-75099b51c9b9.png)

whereas for the lab screen
![image](https://cloud.githubusercontent.com/assets/7633344/25045953/ccf2c1fa-20fc-11e7-81e3-38dd0f23f5fc.png)

[2017-04-14 14:28] veillette commented on #84
and for the record here is what it looks for one row

![image](https://cloud.githubusercontent.com/assets/7633344/25046009/1314f2a2-20fd-11e7-89f1-41d517467bb9.png)

[2017-04-14 14:32] veillette commented on #84
if you set the minimum number of Rows to 1 and set the default value to 3, here is what the intro tab looks like:
![image](https://cloud.githubusercontent.com/assets/7633344/25046101/8d5c2ab2-20fd-11e7-8a99-1eeb5549fcfb.png)

[2017-04-14 14:36] veillette commented on #84
The two previous commits only addressed the second part of this issue, namely the dependency on the number of rows being equal to five. I think you would need a design meeting to decide on the best scaling for the balls/ cylinders/pegs/hopper when the number of rows is small.

[2017-04-14 14:45] veillette commented on #84
There are a lot of small details that become more prevalent when the number of rows get small.
(1) the peg shadow does not look realistic when the number of rows is equal to 1
(2) the diameter of the balls is larger than the hopper
(4) in the intro tab, the balls at the bottom of the cylinder get clipped
(5) the cylinders get filled up very quickly
(6) for n=1 the balls seems to go through the peg

[2017-04-14 15:13] veillette commented on #84
The clipping of the balls in the cylinder is due to the canvasBounds of the balls that is determined by
[code]
the 20 should be increased and set to be proportional to the radius of the largest ball.

[2017-04-14 15:56] ariel-phet commented on #84
@veillette it seems that the scaling shown in https://github.com/phetsims/plinko-probability/issues/84#issuecomment-294163728 looks good. Could we try a rule the for rows being 3 or less the scaling is fixed at what you have shown?

[2017-04-15 19:43] veillette commented on #84
I added query parameters minRow, maxRow and defaultRow so you can see for yourself.
eg. plinko-probability_en.html?minRow=1&defaultRow=3
will set the minimum number of Row to 1

Below are some screenshots. FYI, I only changed the size of the balls, which is relatively trivial to do.
Changing the size of the balls in such arbitrary manner affects the intro screen if the default value is set below t

[2017-04-15 19:49] veillette commented on #84
If you are serious about setting n=1 and having worked nicely so that the balls seem to bounced off the pegs (rather than just arbitrarily setting the radius of the balls and the pegs) , it would be preferable to work a branch rather than master.

[2017-04-17 16:41] ariel-phet commented on #84
@veillette yes, we are serious about that

[2017-04-19 17:51] pixelzoom commented on #84
[4/19/17, 11:41:24 AM] Ariel Paul: Hey Chris, Martin said he is happy to do the Plinko work, and has some time over the next few weeks to work away at it

Assigning to @veillette.

[2017-06-05 20:27] amanda-phet opened #99 "Design of 1-4 rows of pegs"
When there are only 3 or 4 rows of pegs, the size of the pegs and balls looks good to me.

![4-rows](https://cloud.githubusercontent.com/assets/7852916/26801526/6466ef72-49fa-11e7-8235-ebcb392abe55.png)
![3-rows](https://cloud.githubusercontent.com/assets/7852916/26801519/601b4ac6-49fa-11e7-9fcd-7a24affea8db.png)

However, at 1 and 2 rows, the peg seems unusually large.
![2-rows](https://cloud.git

[2017-06-06 20:23] veillette commented on #99
![plinko probability screenshot 8](https://user-images.githubusercontent.com/7633344/26850107-675a8a1a-4ad4-11e7-9839-bee9bbac24ff.png)
![plinko probability screenshot 7](https://user-images.githubusercontent.com/7633344/26850108-684bed42-4ad4-11e7-85f7-cae55e9929b8.png)
![plinko probability screenshot 6](https://user-images.githubusercontent.com/7633344/26850110-6938db20-4ad4-11e7-98bf-fc0afff2c8

[2017-06-06 20:34] amanda-phet commented on #99
The peg seems pretty small. Are you sure that is the size at 3 rows? It looks like the size at 4 rows, to my eye.

Perhaps we should just focus on the 1-row case. This is the mockup from April. Can get close to this size for 1 row, and see how the others scale after that? I'm not sure what kind of scaling logic you are using, though.

![screen shot 2017-06-06 at 2 32 37 pm](https://user-images.git

[2017-06-06 21:53] veillette commented on #99
@amanda-phet: Row 1 and 2 are essentially custom made so we can adjust the radius of the balls, the radius of the pegs and the the vertical offset of the pegs easily.
I'll use your screenshot from row 1 and adjust row 2 accordingly.

[2017-06-07 03:11] amanda-phet commented on #99
That sounds great.

[2017-06-08 12:22] veillette commented on #99
![plinko probability screenshot 13](https://user-images.githubusercontent.com/7633344/26928175-11584e2c-4c23-11e7-9679-a2e83cf7d13a.png)
![plinko probability screenshot 14](https://user-images.githubusercontent.com/7633344/26928236-67862b02-4c23-11e7-9a6e-d1e89b9d20dd.png)
![plinko probability screenshot 15](https://user-images.githubusercontent.com/7633344/26928270-836071de-4c23-11e7-860a-1c37f0a

[2017-06-08 12:36] veillette commented on #99
@amanda-phet , based on your screenshort, I rebased the scale of the balls as well.

The pegs are rescaled according to be inversely proportional to the number of bins rather than the number of rows
The pegs size is proportional to 1/(rows+1). This affects the scaling for all rows but is is hard noticeable for larger number or rows, but it makes a larger difference when the number of rows is small

[2017-06-08 16:02] amanda-phet commented on #99
It looks great to me!

[2017-06-08 18:36] veillette commented on #99
Thank @amanda-phet. Closing this issue.

[2017-06-08 18:36] #99 closed

[2017-06-08 18:40] veillette commented on #84
I addressed the issue of scaling the pegs and the balls for the number of rows 1 to 4 in #99.

Closing

[2017-06-14 20:41] zepumph opened #100 "Publish 1.1"
From https://github.com/phetsims/tasks/issues/854, we are ready to republish this new version to the phet website.

@ariel-phet please comment on who should do this.

[2017-06-15 02:03] ariel-phet commented on #100
@zepumph you should probably get a feel for how this process works. Perhaps could you and @jessegreenberg work together at some point to republish since you two work together pretty frequently at the moment?

[2017-06-15 02:04] ariel-phet commented on #100
Marking as medium priority. Would be good to do before the ISTE conference (so by June 23)

[2017-06-21 20:26] zepumph commented on #100
Published! Thanks @jessegreenberg for the help. https://phet.colorado.edu/sims/html/plinko-probability/latest/plinko-probability_en.html

[2017-06-21 21:51] #100 closed

[2017-06-21 22:43] pixelzoom opened #101 "QA credits were not updated for 1.1 release"
1.1.0 was published (see https://github.com/phetsims/plinko-probability/issues/100) without updating the QA credits.  There are testers in the test matrix that are not identified in the credits.  Get the updates from @phet-steele, commit them to 1.1 and master branches, then publish maintenance release 1.1.1.

[2017-06-21 23:00] zepumph commented on #101
Shoot dang, I had no idea that I needed to do this. Where is this documented? I'm not seeing it in sim_deployment.md, but also I could have missed it.

[2017-06-21 23:04] pixelzoom commented on #101
Also commit them to the 1.1-phetio branch.

No idea if it's documented anywhere.  I always create an "update QA credits" issue when I start the QA process.

[2017-06-26 20:58] zepumph commented on #101
I added the credits to branches: master, 1.1, and 1.1-phetio. They will be updated on next Maintenance release. This will be picked up in https://github.com/phetsims/QA/issues/2. Closing

[2017-06-26 20:58] #101 closed

[2017-07-10 18:19] pixelzoom opened #102 "new screenshot"
This work was done in https://github.com/phetsims/tasks/issues/876.  Creating this issue here so that it's possible to answer the "what changed about this sim?" question.

@amanda-phet said:

@phet-steele created the screenshots in master and 1.1 branches.

I'll verify and publish a 1.1 maintenance release.

[2017-07-10 18:31] pixelzoom commented on #102
In https://github.com/phetsims/tasks/issues/876#issuecomment-314189134, @phet-steele said:

plinko-probabiltiy has 1.1 and 1.1-phetio branches, indicating that phet and phet-io brands were published together and must be kept in sync.

Three problems:

(1) I see no commit for the new screenshot in the 1.1-phetio branch.

(2) package.json for 1.1 has a version id of "1.1.1", 1.1-phetio has "1.1.1-rc

[2017-07-10 18:35] pixelzoom commented on #102
@jonathanolson I see these commits from you for package.json:

1.1:  https://github.com/phetsims/plinko-probability/commit/19dd37efda2cb7ec7ddcf009ade4c2a037a05de2
1.1-phetio: https://github.com/phetsims/plinko-probability/commit/7ab097ce606235ba6c48c1c3c4d19ed819f0c1db

Why are the version ids different?

[2017-07-10 18:41] pixelzoom commented on #102
Let me guess... I'll bet that 1.1.1-phetio never got published, so "version" never got set to "1.1.1" in the 1.1-phetio branch.

[2017-07-10 18:41] phet-steele commented on #102
@pixelzoom I have no idea if/how phet-io brand sims use a screenshot. They don't have a "sim page" like phet sims do, so I didn't think it was important to update the phet-io branch. If it's simply for the sake of keeping 1.1-phetio and 1.1 the same, a cherry-pick would be fine.

[2017-07-10 18:42] jonathanolson commented on #102
I ran the automated processes for the maintenance release production releases once cleared for https://github.com/phetsims/QA/issues/2, but when I looked at the plinko 1.1-phetio branch I noticed commits on the release branch. I didn't feel comfortable releasing a production version off of SHAs that weren't tested, so I halted and let @zepumph know.

He agreed to finish the handling of the 1.1-phe

[2017-07-10 18:43] jonathanolson commented on #102
FYI, the phetio-specific commit I saw was probably untested was https://github.com/phetsims/plinko-probability/commit/1207fedcc7b41e86f9b2edd4b1ca849147301a40, since it changes phet-io dependencies and was untested in the RC for https://github.com/phetsims/QA/issues/2.

[2017-07-10 18:46] pixelzoom commented on #102
@phet-steele 1.1 and 1.1-phetio branches must be kept in sync _regardless of the change_.

@zepumph why are there commits on the 1.1-phetio release branch?

[2017-07-10 18:49] phet-steele commented on #102
@pixelzoom cherry-picked with https://github.com/phetsims/plinko-probability/commit/30fae57f9d1284a4adfce90eaebb94fb1d37c133

[2017-07-10 18:52] pixelzoom commented on #102
@phet-steele Yes, thanks, I know how to get the screenshot into the 1.1-phetio branch.

This business with manually maintaining parallel branches for PhET-iO is  a broken process that is making it difficult to do things that should be easy.

[2017-07-10 21:14] pixelzoom commented on #102
1.1.2 and 1.1.2-phetio are published.

For 1.1.2, I verified that the new screenshot appears on the sim's webpage, English runs, a couple of translation run.

For 1.1.2-phetio, I verified that the instance-proxies wrapper works.

Closing.

[2017-07-10 21:14] #102 closed

[2017-07-28 22:48] jessegreenberg commented on #72
In the above commit I removed a workaround that was necessary because of https://github.com/phetsims/joist/issues/346.  @pixelzoom wanted to let you know in case you want to review.  I removed the Panel but kept the spacing the same to match the look of the deployed version.

[2017-08-09 01:47] pixelzoom commented on #72
Since this sim is likely to be published before I return from vacation, it's probably best to have @andrea-phet or @jbphet review the changes.

[2017-08-09 22:36] pixelzoom opened #103 "layout of panels is messed up"
See the "N" in "N = 0":

![screenshot_346](https://user-images.githubusercontent.com/3046552/29146864-ce3339a2-7d20-11e7-9275-adc21ec7a84b.png)

[2017-08-09 22:36] jonathanolson commented on #103
If it's using RichText, it's probably similar to https://github.com/phetsims/ph-scale/issues/70.

[2017-08-09 22:36] pixelzoom commented on #103
Even more messed up in 2nd screen:

![screenshot_347](https://user-images.githubusercontent.com/3046552/29146894-f03bfa84-7d20-11e7-8eb1-5176e70ab75c.png)

[2017-08-09 22:37] pixelzoom commented on #103
Probably related to RichText, similar to https://github.com/phetsims/ph-scale/issues/70.

[2017-08-09 22:55] jonathanolson commented on #103
Should be fixed with the above commit, can you verify?

[2017-08-09 23:06] pixelzoom commented on #103
👍 Closing.

[2017-08-09 23:06] #103 closed

[2017-08-11 15:22] andrea-phet commented on #72
Looks good, closing.

[2017-08-11 15:22] #72 closed

[2017-09-20 00:06] jessegreenberg opened #104 "Add keyboard navigation to this sim"
We would like to add keyboard navigation to this sim.  When I use the ?accessibility query parameter, it looks like everything is already working with the keyboard, though focus order and focus highlights could be adjusted.  Pinging  @pixelzoom because he is the responsible dev, but since since everything seems to be already working with keyboard nav, I am going to assume we can proceed.

@mbarlow

[2017-09-20 00:23] pixelzoom commented on #104
@jessegreenberg said:

I'm not super familiar with this sim, since I wasn't involved with it for very long. I inherited it and took it to the finish line.  If it looks like keyboard navigation is working, great!

[2017-10-19 15:32] mbarlow12 commented on #104
Completed in above commits. Ready for review.

[2017-10-19 16:22] pixelzoom commented on #104
@mbarlow12 Who would you like to review this?

[2017-10-19 16:32] amanda-phet commented on #104
I'm looking at it now and can comment here when I have some feedback.

[2017-10-19 16:36] pixelzoom commented on #104
Since I'm the responsible developer for this sim, I skimmed the code changed.  Looks good.

[2017-10-19 17:22] jessegreenberg commented on #104
Thanks @mbarlow12. One thing I noticed is that when the play/pause buttons in the lab screen are pressed, focus is lost when the pressed button becomes invisible. A fix might be one of

- Focus the visible button in the sim, adding sim specific code.
- Use Node.replaceChild() instead of toggling visibility.
- Some other new way for scenery to handle this?

I would recommend using  Node.replaceChil

[2017-10-19 17:35] pixelzoom commented on #104
I don't understand what "when the pressed button becomes invisible" is referring to.

We typically prefer to use `visible` instead of `replaceChild` for performance reasons. And this sounds like it could be a general issue.   So perhaps you should check in with @jonathanolson to see if there's a way to handle this in scenery.

[2017-10-19 17:46] jessegreenberg commented on #104
Sounds good, thanks, we will brainstorm in scenery.

[2017-10-19 18:09] amanda-phet commented on #104
@jessegreenberg I noticed this too, and agree that the focus shouldn't be lost. I recall a lot of trouble around that button's implementation, because we were using the button in a non-standard way- in the case of one ball the play doesn't become a pause button. Perhaps that is relevant.

[2017-10-19 22:40] jessegreenberg commented on #104
Thanks @amanda-phet.  In phetsims/scenery#694 we added a function to Node called `swapVisibility` that will swap the visibility of two child nodes and manage the keyboard focus. The above commit uses it,  @pixelzoom @mbarlow12 could you please review?

[2017-10-20 16:33] pixelzoom commented on #104
I'm on the fence about `swapVisibility`.

Node is huge (5116 lines) so we should think carefully about adding more stuff to it.  Is `swapVisibility` really necessary? Should it be in the Accessibility mixin?  Is this functionality that's going to be needed in other places? What would LabPlayPanel look like if it had to handle focus itself?

The name `swapVisibility` is also a bit misleading. The f

[2017-10-20 16:36] pixelzoom commented on #104
Btw... `ToggleNode` and the set of sun buttons that use it (`BooleanRoundToggleButton`,...) also have this same problem with focus.  So let's make sure whatever we do is generally applicable.

[2017-10-20 16:39] pixelzoom commented on #104
And why isn't this sim using `ToggleNode` in the first place?

[2017-10-20 20:51] jessegreenberg commented on #104
There is an issue in scenery for `swapVisibility`, thanks,  Ill move these comments there.

I think so, the implementation of `LabPlayPanel.togglePlayPauseButtonVisibility` would look similar to the implementation of `Node.swapVisibility`:
[code]

[2017-10-23 16:11] pixelzoom commented on #104
Since there's a precedence for `*Visibilty` methods also affecting focus, then I guess leave the name as is.  Up to @jonathanolson whether to change the requirement on ordering of the inputs.  Up to @jessegreenberg and @jonathanolson to decide if this is really generally useful and is worth more Node bloat.

[2017-10-23 16:17] pixelzoom commented on #104
Linking to the `swapVisibility` issue that @jessegreenberg mentioned above: https://github.com/phetsims/scenery/issues/694

[2017-10-23 17:31] jonathanolson commented on #104
I think it's generally useful, particularly since we should use it (when it makes sense) to future support a11y.

The order of parameters in swapVisibility is exactly what I hoped for, so I wouldn't change it unless there's significant disagreement.

[2017-10-23 17:36] pixelzoom commented on #104
So back to the specific focus issue in this sim...  As I asked in https://github.com/phetsims/plinko-probability/issues/104#issuecomment-338258206, why isn't this sim using `ToggleNode`. Shouldn't we prefer to add a11y to common UI components instead of sim-specific code?

[2017-10-24 21:33] jessegreenberg commented on #104
I forgot about ToggleNode, I will look into seeing if it can be used here. Definitely prefer to add a11y to common components.

[2017-10-24 23:46] jessegreenberg commented on #104
ToggleNode is now being used in `LabPlayPanel`. I found another issue, buttons are firing for as long as 'enter' is held down because buttons fire with the click event. Pressing and holding down 'enter' on the play button  creates way too many balls.  I made a note of this in a sun issue where we will work on a fix: https://github.com/phetsims/sun/issues/323

[2018-01-09 18:20] emily-phet opened #105 "Decide on PDOM Labels"
We'll need labels for all of the controls in the sim that you navigate to. The labels should give some indication of what the feature is/does.

Will need collaboration from @amanda-phet and @terracoda to do this.

Design doc, with list of the objects that need labels can be found [here](https://docs.google.com/document/d/1JCZ3uJeDytzerjfVvYSWbKA3bTK2D6gLsOVWRcVcec8/edit?usp=sharing).

[2018-01-25 22:59] emily-phet commented on #105
@amanda-phet
I updated the sim's [a11y design doc ](https://docs.google.com/document/d/1JCZ3uJeDytzerjfVvYSWbKA3bTK2D6gLsOVWRcVcec8/edit?usp=sharing) based on our conversation today, and to set up a structure for your draft of labels, help text, and some static descriptions.

Note: the latest link to plinko with keyboard nav, and with the a11y-view is at the top of the doc.

I've removed the table

[2018-02-03 19:52] emily-phet commented on #105
Status update:
- Amanda added content to draft outline, awaiting feedback
@terracoda let's discuss this briefly regarding feedback for Amanda.

[2018-02-03 19:57] emily-phet opened #106 "Keyboard help dialog content and design"
@arouinfar - can you draft keyboard help content for this sim also?

[2018-02-06 23:20] arouinfar commented on #106
@emily-phet @terracoda I think Plinko and Rutherford Scattering (https://github.com/phetsims/rutherford-scattering/issues/136) will have identical dialogs, so I've pasted the content for Rutherford Scattering below.

**Slider Controls**
Adjust slider [left] [right] or [up][down]
Adjust in smaller steps [shift] + [left] [right] or [shift] + [up][down]
Adjust in larger steps [pg up] [pg down]
Jump t

[2018-02-07 14:34] terracoda commented on #106
@emily-phet and @arouinfar, the only new interaction in this sim is the accordion box. I'm not sure if users will need guidance on this. It should work like  button, i.e., Space or Enter key open and close it.

[2018-02-07 14:43] terracoda opened #107 "Accordion box heading loses focus after opening and closing"
I just noticed that after opening or closing the accordion box (Lab Screen), keyboard focus is lost.  Keyboard should remain on the heading of the box when the box is opened and closed. This allows the interaction tp be repeated, if necessary, and  also ensures visual focus in the sim is not lost.

**Question:**
This sim is just undergoing early keyboard navigation work, so maybe this is just not

[2018-02-07 16:50] arouinfar commented on #106
@terracoda I wasn't sure about the accordion boxes either, but decided to leave it out because it behaves like a button, which we haven't been including in the dialogs. I suspect that the open/close will look enough like a button that visual users won't need guidance.

[2018-02-07 16:57] terracoda commented on #106
@arouinfar, I think we can move ahead without the accordion box being added. I'll post the text-based HTML version based on the content above.

[2018-02-07 17:38] terracoda commented on #106
Here's the text-based HTML for Plinko's Keyboard Shortcuts:
[code]

[2018-03-12 21:41] emily-phet commented on #106
@zepumph or @mbarlow12 Can one of you take this on?

[2018-03-13 00:05] zepumph commented on #106
I'm happy to

[2018-03-15 01:36] zepumph commented on #106
Implemented in above commit. It is basically the exact same as the Ohms Law panel, but with the group content added. Please see how you like it on phettest. http://phettest.colorado.edu/plinko-probability/plinko-probability_en.html?ea&brand=phet&accessibility

[2018-03-15 01:46] arouinfar commented on #106
Dialog looks great @zepumph!

[2018-03-23 21:59] pixelzoom opened #108 ""max balls" feature is broken in Lab screen"
The sim crashes when the "max balls" limit is reached in the Lab screen.  This problem is almost certainly independent of platform, but was noticed on master with Chrome 65 on macOS.

To reproduce:
1. Run sim with `?maxBallsLab=10` (no additional info with `?ea`)
2. Go to Lab screen
3. Select radio button for continuous balls
4. Press green start button.
5. Sim will crash with this stack trace:

[

[2018-03-23 22:08] pixelzoom commented on #108
This was broken by @jessegreenberg on 10/27/17 in https://github.com/phetsims/plinko-probability/commit/e1a13e89815fcfe5c3067994d90daa80ee7a7c19 while adding keyboard navigation (#14).  LabPlayPanel `setPlayButtonVisible` was for some reason deleted, but is still called in LabScreenView when the "out of ball" condition occurs.   So when the limit is exceed, the sim is calling a function that no lo

[2018-03-26 18:24] pixelzoom commented on #108
Self-assigning since I'm listed as the responsible developer for this sim.

[2018-03-26 18:34] pixelzoom commented on #108
I'm going to fix this and have @jessegreenberg review it.

[2018-03-26 18:45] pixelzoom commented on #108
In addition to the missing `setPlayButtonVisible` function.... There was no need for the `togglePlayPauseButtonVisibility`, and no need for `playButton` and `pauseButton` to be instance properties, and `playButtonVisibleProperty` should have been a `BooleanProperty`.  Fixed all of this in the above commit.  @jessegreenberg please review.

[2018-03-26 20:02] jessegreenberg commented on #108
Thanks @pixelzoom, very sorry about that. The break in https://github.com/phetsims/plinko-probability/commit/e1a13e89815fcfe5c3067994d90daa80ee7a7c19 came from using `ToggleNode` instead of `setPlayButtonVisible`.  The other changes in https://github.com/phetsims/plinko-probability/issues/108#issuecomment-376270869 should have been done at the same time. I reviewed https://github.com/phetsims/plin

[2018-03-26 20:02] #108 closed

[2018-04-23 18:03] mbarlow12 commented on #104
@jessegreenberg it appears that the 'enter' interaction has been handled for this sim. However, I noticed one other item. If the PlayPause button is focused with the keyboard, all mouse interactions appear to be disabled until you move focus to another element with either the mouse or keyboard.

Is this related to https://github.com/phetsims/sun/issues/323?

[2018-04-24 12:43] jessegreenberg commented on #104
Thanks @mbarlow12, yes related to that issue. Should be fixed in the above commit can you please verify?

[2018-05-14 20:08] samreid opened #109 "On the first screen, you cannot unselect "All""
Once you have pressed "x All" and "Play", there is no way to stop it (aside from a reset).  You can even change the radio button values to "x 10" and "x 1" but they keep coming.  Is this the desired behavior?

Discovered in https://github.com/phetsims/sun/issues/360

Assigned to @pixelzoom since he is listed as the responsible dev, and I'm not sure who the design team is.

[2018-05-14 20:28] pixelzoom commented on #109
That sure seems buggy to me. The Flash version has radio buttons for '1 ball' and 'continuous', and changing the selection from 'continuos' to '1 ball' stops that flow of balls.   The HTML5 version has 'x 1', 'x 10' and 'x All',  and I would expect similar behavior -- the flow of balls should stop whenever the radio button changes, and you have to push "Play" to start the flow.

Assigning to @aman

[2018-05-14 20:29] samreid commented on #109
I should note this problem is observed in master and in the version published on the website, which is 1.1.3

[2018-05-16 22:09] amanda-phet commented on #109
"x All" is supposed to indicate that you are dropping ALL 100 balls.

I could see changing this to a pause button when that happens, so you have the option to pause what is happening. I would also be fine with this stopping when you change radio buttons, but would this also change the interaction if "x 10" is selected? If you press play and change your mind, can you also abort the (10-n) remaining

[2018-05-16 22:35] pixelzoom commented on #109
The Flash version stop the 'continuous' flow of balls if the radio button selection is changed. And yes, 'x 10' and 'x All' would behave the same.

[2018-05-16 22:38] pixelzoom commented on #109
I don't think there's any question about that.  The question is what happens if they change the selection to something else before all 100 balls have dropped.   Either the radio buttons should be disabled until all 100 balls are dropped (which I'm not recommending) or "drop all 100 balls" should be cancelled when the radio button select is changed (which I'm recommending).

The Flash version stops

[2018-05-20 22:18] pixelzoom commented on #109
OK, I will proceed with what I proposed.

[2018-05-22 16:12] pixelzoom commented on #109
@amanda-phet

Do you want a maintenance release for this issue? It will require an addition 30-60 minutes.

Or do you want to wait until the next time the sim is published from master? There is currently no timeframe for publishing from master, and it will require a full QA cycle.

[2018-05-22 16:55] pixelzoom opened #110 "radio button labels are not localized"
This was discovered while investigating https://github.com/phetsims/plinko-probability/issues/109.

The _Intro_ screen has this control panel:

![screenshot_637](https://user-images.githubusercontent.com/3046552/40377120-558f6cf0-5dad-11e8-9303-6b8fb14673f7.png)

The labels for the radio buttons are not localized.  I expected to find a string for each label in the translations file.  But instead,

[2018-05-22 16:58] pixelzoom commented on #110
@amanda-phet Also wondering why we're using "All" instead of "100".  Why not just use the value so that students know how many balls they are adding?

[2018-05-22 17:13] pixelzoom opened #111 "use type-specific Properties and validation"
Noticed while working on #109 and #110.   This sim does not use type-specific Properties, and does not use Property validation features.   That should be changed at some point, since it will make PhET-iO instrumentation easier.

[2018-05-22 17:14] pixelzoom commented on #111
12 occurrences of `new Property` in this sim, so this shouldn't take a lot of time.

[2018-05-22 17:52] pixelzoom commented on #109
Discussed with @amanda-phet.  This sim has had some a11y work and will probably be published out of master for that.  So no maintenance release, wait until published out of master for a11y.

[2018-05-22 18:13] pixelzoom commented on #109
On Slack, @amanda-phet indicated that she wanted to discuss how this fix should be published with @ariel-phet.  So assigning to @amanda-phet.

[2018-05-23 16:43] amanda-phet commented on #110
It's not necessarily 100.. if they dropped 3, then xAll would drop 97 more. We want students to be able to run trials of 100 over and over, and the bins can't really handle more than that, so if someone drops 50 then 100 more, we'd be in trouble.

[2018-05-23 17:07] pixelzoom commented on #110
@amanda-phet I don't understand your logic here.  The same argument applies to x10.  Drop 91 balls by doing x10 nine times, then x1.  Then do x10 and it will only release 9 balls.   It's not at all obvious that the upper limit is 100.

[2018-05-23 18:30] amanda-phet commented on #110
You're right, I forgot the same thing applies to x10.

As for the Play button, we are aware that the design choice was problematic and I'm always open to discussing alternatives. Since this sim is being designed for a11y and we are making some minor design changes anyway, we could use this opportunity to make some other changes.

[2018-05-23 18:53] amanda-phet commented on #110
Zoom discussion with @pixelzoom . Decided to change the third radio button to x100. This is helpful for translations and is also consistent with how the x10 radio button behaves, so it doesn't seem inconsistent.

[2018-05-23 18:58] pixelzoom commented on #110
Change 'x All' to 'x 100' in above commit.  Also use MathSymbols.TIMES.

[2018-05-23 18:58] pixelzoom commented on #110
This change will be picked up the next time the sim is published from master.  Leaving issues open and "ready for review" until then.

[2018-05-23 19:00] pixelzoom commented on #109
'x All' was changed to 'x 100' in #110.

[2018-05-23 19:12] pixelzoom commented on #110
One more thing that I noticed...  There is a `maxBallsIntro` query parameter that can be used to change the max number of balls in the Intro screen.  It's default values is 100.   Rather than hardcoding the string "x 100", this value should be used to create the label.   I made that change in the above commit.    So if you run with `?maxBallsIntro=50`, the radio button will be labeled with "x 50".

[2018-05-23 19:22] pixelzoom opened #112 "LabPlayPanel has redundant constructor args"
Constructor signature is:

`function LabPlayPanel( model, ballModeProperty, isBallCapReachedProperty, options )`

Call site is:

`var playPanel = new LabPlayPanel( model, model.ballModeProperty, model.isBallCapReachedProperty, {...} )`

So the  `ballModeProperty` and `isBallCapReachedProperty` parameters are redundant.  And they are in fact used inconsistently in LabPlayPanel's constructor, someti

[2018-05-23 19:28] pixelzoom commented on #112
Similar problem with IntroPlayPanel.

[2018-05-23 19:43] pixelzoom commented on #112
Addressed, closing.

[2018-05-23 19:43] #112 closed

[2018-05-23 19:43] pixelzoom commented on #111
Addressed, closing.

[2018-05-23 19:43] #111 closed

[2018-05-23 19:46] pixelzoom commented on #109
This has been addressed in master, @amanda-phet please verify.   When the radio button selection is changed, any balls that have not yet been released from the hopper are canceled, and the enabled state of the "Play" button is adjusted accordingly.

[2018-07-16 17:20] pixelzoom commented on #104
@mbarlow12 @jessegreenberg what is the status?  Assigned to @mbarlow12 to review on 4/24.

[2018-07-16 17:21] pixelzoom commented on #107
@jessegreenberg This seems like an issue that should be in sun, where AccordionBox lives.  Or is there something sim-specific about this issue?

[2018-07-16 17:22] pixelzoom commented on #105
The title of this issue indicated "complete by Feb. 15th", presumably 2018.   @emily-phet what is the status?

[2018-07-16 17:24] pixelzoom commented on #85
@ariel-phet said:

FYI... Number of rows was addressed (and closed) in https://github.com/phetsims/plinko-probability/issues/84, but this issue was apparently not consulted.

[2018-07-16 17:29] terracoda commented on #107
@pixelzoom, great question, Chris. This is an old issue, and I just re-tested quickly in 3 browsers and the focus highlight is working fine.

I'll close this issue and if it come up again, we can post in this appropriate repo.

[2018-07-16 17:29] #107 closed

[2018-07-16 18:02] terracoda commented on #105
@pixelzoom, from [Plinko's A11y Design doc](https://docs.google.com/document/d/1JCZ3uJeDytzerjfVvYSWbKA3bTK2D6gLsOVWRcVcec8/edit#), I can see that significant progress on labels were made on this sim earlier in the year by @amanda-phet with help from myself and @emily-phet.

Perhaps @emily-phet could comment on the priority and @amanda-phet could comment on where she thinks about the state of the

[2018-07-16 18:04] terracoda commented on #105
@amanda-phet, I'll un-assign myself for now. Let me know if you need feedback or assistance.

[2018-07-16 21:13] mbarlow12 commented on #104
@jessegreenberg should focus shift to the slider on mouse interaction with the thumb? I'm seeing that an extra tab is required to regain focus after moving the slider (not the tweakers, though), and the focus is on the next element (e.g. the radio buttons after the play/pause button).

I saw this also in Coulomb's Law, so I think this is in either NumberControl since this doesn't happen in RIAW or

[2018-07-17 15:59] emily-phet commented on #105
@pixelzoom Amanda would know the latest on this. We didn't make the original deadline (obviously!) . This sim is named in a funded grant that will be worked on over the next three years, so we'll make more progress on this likely after work on GFL:B.

Were you working on this sim? I don't see this issue ever assigned to you, so can you comment if this impacts you?

[2018-07-17 16:58] pixelzoom commented on #105
@emily-phet asked:

I'm the responsible developer for this sim, see https://github.com/phetsims/phet-info/blob/master/sim-info/responsible_dev.md.  One of those responsibilities is periodically reviewing GitHub issues.

[2018-07-17 18:33] emily-phet commented on #105
@pixelzoom Cool beans. Inaccurate deadline removed from issue name.

[2018-08-23 17:12] samreid opened #113 "Redesign sound"
At today's developer meeting, the group expressed a desired to redesign the audio for this simulation, to make it more amenable to having sound on by default.  This didn't seem high priority, but I'll assign to @ariel-phet to comment on if/when we may work on this.

[2018-08-23 17:54] Denz1994 commented on #113
Some dialog from Dev meeting(08-23-18):

JB: Plinko Probability has sound turned off by default, however Tambo is not off by default.How do we handle this?

CM/JB: Enhanced sounds should disabled by default and basic sounds enabled by default, as a general policy.

JB: We can pass in a default options for soundInitialState (disabled, basic, enhanced). Enhanced sounds should include basic sounds.

[2018-08-24 17:16] ariel-phet commented on #113
Removing assignees, deferred until next time this sim comes up for work

[2018-11-07 19:50] pixelzoom commented on #110
@amanda-phet please review [1.2.0-dev.4](https://phet-dev.colorado.edu/html/plinko-probability/1.2.0-dev.4/phet/plinko-probability_en_phet.html), then assign back to me.   The only UI change is that "×All" is now "×100" by default.  Or "×50" if you run with `?maxBallsIntro=50`.

[2018-11-07 19:53] pixelzoom opened #114 "revise screenshots for 1.2.0 release"
#109 requires revision of plinks-probability-screenshot-alt1.png.  The others look OK.

[2018-11-07 19:56] pixelzoom opened #115 "revise related material for 1.2.0 release"
#110 may require changes to related materials (teacher tips, activities,...)  If the "× All" is visible on the _Intro_ screen, then revision is needed.

[2018-11-07 19:58] pixelzoom commented on #109
@amanda-phet you could also verify this in [1.2.0-dev.4](https://phet-dev.colorado.edu/html/plinko-probability/1.2.0-dev.4/phet/plinko-probability_en_phet.html).

[2018-11-07 20:02] pixelzoom commented on #106
Is there anything else to do for this, or can it be closed? Does @terracoda still need to review?

[2018-11-07 22:06] amanda-phet commented on #109
Looks like it's working as expected.

[2018-11-08 17:56] amanda-phet commented on #98
This is done.

[2018-11-08 17:56] #98 closed

[2018-11-26 03:50] emily-phet commented on #106
We'll be circling around to publishing this sim with keyboard nav and other features in 2019. This can be closed for now.

[2018-11-26 03:50] #106 closed

[2019-04-15 22:33] KatieWoe opened #116 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56169650-1302d380-5f9c-11e9-97d1-b06674ac

[2019-04-15 22:33] #116 closed

[2020-05-21 21:56] samreid commented on #84
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-26 18:42] samreid commented on #84
Unassigning until we return focus to this sim.

[2020-10-23 17:01] brooklynlash opened #117 "Sound continues sporadically when leaving the tab on Firefox"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Firefox

**Problem description**
When using the sim with multiple balls and the sound is on, if you change to a different tab, the sound still continues a bit.

**Visuals**
https://drive.google.com/file/d/1v17rCBIzNmL-9Nxh8q0KQGBRE5-IfyFZ/view?usp=sharing

Troubleshooting information:
!!!!! DO NOT EDIT !!!!!
Name: Plinko

[2020-10-23 17:06] brooklynlash commented on #117
Also noticed the same thing when doing testing for Forces and Motion: Basics

[2020-10-23 17:16] brooklynlash commented on #117
Another note: I am pretty sure that the reason why is that simulations usually pause (at least while I am in Chrome) and they do not pause immediately in Firefox, so sound is continuing. Unsure if this is the actual reason, just an observation.

[2020-10-24 00:06] jbphet commented on #117
I think this was assigned to me because I'm considered the "sound guy".  Plinko does not use the most current sound library (tambo), and the older library doesn't mute sound that are not being played on the current screen.  Upgrading to tambo would be the best way to address this, but I've discussed this with @ariel-phet in the past, and he doesn't want to take the time to do a full sound design o

[2020-11-13 01:26] amanda-phet commented on #110
This looks like it's working well.

[2020-11-13 01:43] pixelzoom commented on #110
👍🏻 Closing

[2020-11-13 01:43] #110 closed

[2021-05-10 22:56] chrisklus commented on #33
this branch should be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-10 23:21] chrisklus commented on #33
branch was already deleted, closing

[2021-05-10 23:21] #33 closed